 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> OBSERVAÇÕES
            </h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section>
      <div class="container-fluid">
        
        
          <!-- /.card-body -->
          <div class="card-body row col-sm-12 d-flex align-items-end">
            <!-- <div class="busca col-sm-10">
              <form action="/admin/produtos" class="form d-flex align-items-end">
                <div class="form-group">
                  <label>Busca</label>
                  <input type="text" name="busca" class="form-control">
                </div>
                <div>
                <input type="submit" value="Buscar" class="btn btn-primary">
              </div>
              </form>
            </div> -->
        

            {if="$alunos"}
            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Aluno</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {loop="$alunos"}
             
                <tr>
                  <td>{$value.txtNome}</td>
                  <td>{if="$value.idAvaliacao"}Respondido{else}Aguardando Avaliação{/if}</td>
    
                  <td class="botao">
                    {if="$value.idAvaliacao"}
                    <a href="/admin/editarFicha/eixo6/{$idTurma}/{$idProfessor}/{$value.idAlunos}/{$semestre}"><button class="btn btn-primary btn-sm">Editar</button></a>

                    {else}
                    <a href="/admin/adicionarFicha/eixo6/{$idTurma}/{$idProfessor}/{$value.idAlunos}/{$semestre}"><button class="btn btn-primary btn-sm">Adicionar</button></a>
                    {/if}
                  </td>
                
                  </tr>
               
                {/loop}
               

        
              </tbody>
            </table>
            {else}
            <div class="col-12">
              <br>
              <h1>Não foram encontrados alunos cadastrados!</h1>
            </div>
          
            {/if}
            
          <!-- ./col -->
        </div>
 
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->