<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastro de Retroativos</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
          <a href="/admin/alunos/{$infoRetroativo.fkAluno}" class="">Voltar para tela do aluno</a>
        </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/editar-anosRetroativos">
                <div class="card-body row">
                  <input type="hidden" value="{$infoRetroativo.idRetroativo}" name="idRetroativo">
                  <input type="hidden" value="{$infoRetroativo.fkAluno}" name="fkAluno">
                  <div class="form-group col-md-1">
                    <label for="exampleInputName">Ano</label>
                    <input type="text" class="form-control" id="exampleInputName" value="{$infoRetroativo.txtAno}" name="txtAno" >
                  </div>

                  <div class="form-group col-md-1">
                    <label for="exampleInputDataNacimento">Etapa</label>
                    <input type="text" class="form-control" readonly id="exampleInputDataNacimento" value="{$infoRetroativo.txtEtapa}" name="txtEtapa">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="exampleInputNameMom">Escola</label>
                    <input type="text" class="form-control" value="{$infoRetroativo.txtEscola}" id="exampleInputNameMom" name="txtEscola">
                  </div>


                  <div class="form-group col-md-4">
                    <label for="exampleInputNameMom">Cidade</label>
                    <input type="text" class="form-control" value="{$infoRetroativo.txtCidade}" id="exampleInputNameMom" name="txtCidade">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputNameMom">Estado</label>
                    <input type="text" class="form-control" value="{$infoRetroativo.txtEstado}" id="exampleInputNameMom" name="txtEstado">
                  </div>


                  <div class="form-group col-md-12">
                    <label for="exampleInputNameMom">Observações</label>
                    <textarea name="txtObservacoes" class="form-control" rows="3">{$infoRetroativo.txtObservacoes}</textarea>
                  </div>


                  <div class="form-group col-md-12">
                    <label for="exampleInputNameMom">Situação de caráter especial* (Em alguns casos, como no período de COVID19 ou outros acontecimentos a escola fez sua avaliação por meio de relatórios, 
                      para esses casos informar no campo abaixo qual a avaliação adotada, caso contrário deixar em BRANCO)</label>
                    <textarea name="txtAvaliacaoEspecial" class="form-control" rows="3">{$infoRetroativo.txtAvaliacaoEspecial}</textarea>
                  </div>



                  <div class="form-group col-md-12 mt-10">
                    <br>
                    <input type="submit" class="btn btn-primary form-control" value="EDITAR">
                  </div>

                  
              
                </div>
                <!-- /.card-body -->

               
              </form>
            </div>
            <!-- /.card -->
          </div>



          <div class="col-12">
            <div class="container-fluid" style="margin-top: 30px;">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark">Avaliações Retroativas</h1>
                </div><!-- /.col -->
                <div class="col-sm-3">
                  <a href="/admin/cadastrar-avaliacaoRetroativa/{$infoRetroativo.idRetroativo}" class="btn btn-success form-control">Cadastrar Avaliações</a>
                </div>
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          
            {if="$avaliacoes"}

            <table class="table mt-3">
              <thead>
                <tr>
                  <th>Disciplina</th>
                  <th>Nota</th>
                  <th>Conceito</th>
                
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {loop="$avaliacoes"}
    
                <tr>
                  <td>{$value.txtNomeDisciplina}</td>
                  <td>{$value.intNota}</td>
                  <td>{$value.intConceito}
                  </td>
              
                  <td class="botao"><a href="/admin/editar-avaliacao-retroativa/{$value.idAvaliacao}"><button
                        class="btn btn-primary btn-sm">Acessar <i class="fas fa-edit"></i></button></a></td>
                  <td class="botao"><a href="/admin/deletar-avaliacaoRetroativaAno/{$infoRetroativo.idRetroativo}/{$value.idAvaliacao}"><button
                    onclick="return confirm('Deseja realmente excluir este registro?')" 
                        class="btn btn-danger btn-sm">Deletar <i class="fas fa-trash"></i></button></a></td>
                </tr>
    
    
                {/loop}
    
    
    
              </tbody>
            </table>
            {else}
            <div class="col-12">
              <br>
              <h3>Não foram encontradas avaliações cadastradas!</h3>
            </div>
    
            {/if}

          </div>


          <div class="col-12">
            <div class="container-fluid" style="margin-top: 30px;">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark">Frequência Retroativa</h1>
                </div><!-- /.col -->
                <div class="col-sm-3">
                  <a href="/admin/cadastrar-frequenciaRetroativoAno/{$infoRetroativo.idRetroativo}" class="btn btn-success form-control">Cadastrar Frequência</a>
                </div>
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            {if="$frequencia"}
    
            <table class="table mt-3">
              <thead>
                <tr>
                  <!-- {if="$cargaDisciplina"}
                    <th>Disciplina</th>
                  {/if} -->
                  <th>Faltas</th>
                  
                
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {loop="$frequencia"}
    
                <tr>
                  <!-- {if="$cargaDisciplina"}
                  <th>{$value.txtNomeDisciplina}</th>
                {/if} -->
                {if="$cargaDisciplina"}
                  <td>{$value.horasFaltas}:{$value.minutosFaltas}</td>
                  {else}
                  <td>{$value.numFaltas}</td>
                {/if}
                
                
              
                  <td class="botao"><a href="/admin/editar-avaliacao-retroativa/{$value.idFrequencia}"><button
                        class="btn btn-primary btn-sm">Acessar <i class="fas fa-edit"></i></button></a></td>
                  <td class="botao"><a href="/admin/deletar-frequenciaRetroativaAno/{$infoRetroativo.idRetroativo}/{$value.idFrequencia}"><button
                    onclick="return confirm('Deseja realmente excluir este registro?')" 
                        class="btn btn-danger btn-sm">Deletar <i class="fas fa-trash"></i></button></a></td>
                </tr>
    
    
                {/loop}
    
    
    
              </tbody>
            </table>
            {else}
            <div class="col-12">
              <br>
              <h3>Não foram encontradas frequências cadastradas!</h3>
            </div>
    
            {/if}
          </div>



          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
 

 
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
