
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastrar relatório individual</h1>
          </div>
        
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="GET" action="/admin/turmas/{$idTurma}/relatorioIndividual/alunos/{$idAluno}/create">
                <div class="card-body row">
                  <div class="form-group col-md-3">
                    <label for="exampleInputPostagem">Aluno</label>
                    <input type="text" class="form-control" disabled value="{$infoAluno.txtNome}" id="exampleInputPostagem" name="txtNomeAvaliacao">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="exampleInputPostagem">Bimestre</label>
                    <select name="fkBimestre" id="" class="form-control">
                      <option value="">SELECIONE</option>
                      {loop="$listaBimestres"}
                      <option value="{$value.idBimestre}">{$value.nomeBimestre}</option>
                      {/loop}
                      
                    </select>
                   
                  </div>
                

                
              

                <!-- /.card-body -->

                <div class="card-footer col-md-12 form-group">
                  <button type="submit" class="btn btn-primary form-control">Informar relatório</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

         

       

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
