
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastro de Frequência Retroativa</h1>
          </div>
        
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/cadastrar-frequenciaRetroativo/{$turma}/{$aluno}">
                <div class="card-body row">
                
                  {if="$cargaDisciplina"}
                    <div class="form-group col-md-2">
                      <label for="">Disciplina</label>
                      <select name="fkDisciplina" id="" class="form-control">
                        {loop="$disciplinas"}
                          <option value="{$value.idDisciplina}">{$value.txtNomeDisciplina}</option>
                        {/loop}
                      </select>
                    </div>
                  {/if}

                              <div class="form-group col-md-2">
                    <label for="exampleInputPostagem">Bimestre</label>
                    <select name="fkBimestre" id="" class="form-control">
                      <option value="">SELECIONE</option>
                      {loop="$bimestres"}
                      <option value="{$value.value}">{$value.label}</option>
                      {/loop}
                      
                    </select>
                   
                  </div>
            
                  {if="!$cargaDisciplina"}
              
                  <div class="form-group col-md-2">
                    <label for="exampleInputPostagem">Faltas(Dias)</label>
                    <input type="text" class="form-control" name="numFaltas">
                  </div>
                  {else}
                  <div class="form-group col-md-2">
                    <label for="exampleInputPostagem">Faltas(Horas)</label>
                    <input type="text" class="form-control" name="faltasHoras">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputPostagem">Faltas(Minutos)</label>
                    <input type="text" class="form-control" name="faltasMinutos">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputPostagem">Carga horária total(Horas)</label>
                    <input type="text" class="form-control" name="totalHoras">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputPostagem">Carga horária total(Minutos)</label>
                    <input type="text" class="form-control" name="totalMinutos">
                  </div>
                  {/if}

                
              

                <!-- /.card-body -->

                <div class="card-footer col-md-12 form-group">
                  <button type="submit" class="btn btn-primary form-control">CADASTRAR</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

         

       

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
