<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Alunos em Turma</h1>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">

              <!-- /.card-header -->
              <!-- form start -->

              <div class="card-body row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                  <a href="/admin/adicionarAlunosTurma/{$turma.idTurma}"><button
                    class="btn btn-success form-control">Adicionar aluno</button></a>
                </div>
                <table class="table mt-3">
                  <thead>
                    <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Situação</th>
                      <th scope="col">Data de Matrícula</th>

                      <th scope="col">Saída</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {loop="$alunos"}

                    <tr>
                      <td>{$value.txtNome}</td>
                      <td>{if="$value.boolStatus==true"}Ativo{else}
                        {if="$value.intTipoSaida==1"}
                        TRANSFERIDO
                        {/if}

                        {if="$value.intTipoSaida==2"}
                        REMANEJADO
                        {/if}
                        {if="$value.intTipoSaida==3"}
                        RECLASSIFICADO
                        {/if}
                        {if="$value.intTipoSaida==4"}
                        DESISTÊNCIA
                        {/if}
                        {if="$value.intTipoSaida==5"}
                        ÓBITO
                        {/if}
                        {/if}</td>
                      <td>{function="date('d/m/Y', strtotime($value.dataMatricula))"}

                        <a href="/admin/editDataMatricula/{$turma.idTurma}/{$value.idAlunos}?dataMatricula={$value.dataMatricula}&status={$value.boolStatus}">
                          <i class="fas fa-pen"></i></a>
                      </td>

                      {if="$value.dataSaida"}
                      <td>{function="date('d/m/Y', strtotime($value.dataSaida))"}
  
                        <a href="/admin/editDataSaida/{$turma.idTurma}/{$value.idAlunos}?dataSaida={$value.dataSaida}&status={$value.boolStatus}">
                          <i class="fas fa-pen"></i></a>

                      </td>
                    
                      {else}
                      <td></td>
                      {/if}


                      {if="strtotime($value.dataMatricula) > strtotime($inicioAnoLetivo)"}
                      <td class="botao"><a
                          href="/admin/avaliacoes-retroativo/{$turma.idTurma}/{$value.idAlunos}"><button
                            class="btn btn-warning btn-sm">Retroativos <i class="fas fa-calendar-plus"></i></button></a></td>
                      {else}
                      <td></td>
                      {/if}
                      <td class="botao"><a href="/admin/alunos/{$value.idAlunos}"><button
                            class="btn btn-primary btn-sm">Acessar <i class="fas fa-user-graduate"></i></button></a></td>
                      {if="$value.boolStatus==true"}
                      {if="$turma.txtAnoTurma == date('Y')"}
                      <td class="botao"><a href="/admin/desligarAluno/{$turma.idTurma}/{$value.idAlunos}"><button
                            class="btn btn-danger btn-sm">Desligar <i class="fas fa-trash"></i></button></a>
                      </td>
                      
                      {/if}
                      {else}
                      <td class="botao">
                        <a 
                        onclick="return confirm('Deseja realmente religar esse aluno?')"
                        href="/admin/religarAluno/{$turma.idTurma}/{$value.idAlunos}/{$value.dataSaida}">
                        <button
                          class="btn btn-success btn-sm">
                          Religar aluno <i class="fas fa-retweet"></i>
                        </button>
                        </a>
                  </td>
                      {/if}

                      <td>
                      <div class="dropdown">
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                          Documentos <i class="fas fa-print"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/admin/apuracaoPresencasAluno/{$turma.idTurma}/{$value.idAlunos}">Apuração de frequência</a>
                          {if="$turma.txtNivelEnsino != 'Educação Infantil'"}
                          <a  class="dropdown-item" target="_blank" href="/admin/boletimAluno/{$turma.idTurma}/{$value.idAlunos}">Boletim</a>
                          {/if}
                          <a  class="dropdown-item" target="_blank" href="/admin/gerarDeclaracaoMatricula/{$value.idAlunos}">Declaração de matrícula</a>
                          <a  class="dropdown-item" target="_blank" href="/admin/gerarDeclaracaoFrequencia/{$value.idAlunos}">Declaração de frequência</a>
                          {if="$turma.txtNivelEnsino == 'Educação Infantil'"}
                          <a  class="dropdown-item" target="_blank" href="/admin/imprimirFichaDesempenhoAluno/{$turma.idTurma}/{$value.idAlunos}">Ficha de avaliação infantil</a>
                          {/if}
                          {if="$value.boolStatus == 1 && $turma.txtNivelEnsino != 'Educação Infantil'"}
                          <a  class="dropdown-item" target="_blank"  href="/admin/fichaIndividualAlunoTurma/{$turma.idTurma}/{$value.idAlunos}">Ficha Individual</a>
                          <a  class="dropdown-item" target="_blank"  href="/admin/historico/{$turma.idTurma}/{$value.idAlunos}">Histórico Escolar</a>
                          {/if}
                          {if="strtotime(date('Y-m-d')) > strtotime(date('Y-m-d', strtotime('-30 days', strtotime($fimAnoLetivo))))"}
                          <a class="dropdown-item" target="_blank" href="/admin/declaracaoConclusao/{$value.idAlunos}">Declaração de Conclusão </a>

                          {/if}
                          {if="$value.boolStatus == 0"}
                          <a
                          class="dropdown-item" target="_blank" 
                          href="/admin/declaracaoTransferencia/{$turma.idTurma}/{$value.idAlunos}">Declaração Transferência </a>
                          {if="$turma.txtNivelEnsino != 'Educação Infantil'"}
                          <a   class="dropdown-item" target="_blank" 
                          href="/admin/fichaIndividualTransferencia/{$value.idAlunos}/{$turma.idTurma}">
                            Ficha Individual</a>
                            

                            <a  class="dropdown-item" target="_blank" 
                          href="/admin/historicoTransferencia/{$turma.idTurma}/{$value.idAlunos}">Histórico</a>
                          {/if}
                          {/if}
                        </div>
                      </div> 
                    </td>

                    </tr>

                    {/loop}



                  </tbody>
                </table>



                <!-- <div class="form-group col-md-12">
                    <select class="duallistbox" multiple="multiple" name="destaques[]">
                      {loop="$alunos"}
                        
                        {if="$value.fkTurma==$turma.idTurma"}
                        <option value="{$value.idAlunos}" selected>
                          {$value.txtNome}
                        </option>
                        {else}
                        <option value="{$value.idAlunos}">
                          {$value.txtNome}
                        </option>
                        {/if}
                      {/loop}
                      
                    
                    </select>
                   
                  </div> -->
              </div>
              <!-- /.card-body -->

          

            </div>
            <!-- /.card -->





          </div>
          <!--/.col (left) -->
          <!-- right column -->

          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<script>
  function desabilitarBotao() {
    document.getElementById("enviar-btn").disabled = true;
    document.getElementById("enviar-btn").value = "Enviando..."; // Opcional: Alterar o texto do botão
  }
</script>