
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastro de Aulas</h1>
          </div>
        
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/aulasInfantil/{$turma}">
                <div class="card-body row">
                  <div class="form-group col-md-3">
                    <label for="exampleInputPostagem">Semana</label>
                   <select name="fkSemana" class="form-control">
                    {loop="$semanas"}
                      <option value="{$value.idSemana}">{$value.txtNomeSemana}</option>
                    {/loop}
                   </select>
                  </div>


               

                  <div class="form-group col-md-12">
                    <label for="exampleInputDescricao">Descrição da aula</label>
                    <textarea  class="form-control" name="txtDescricao" rows="5"></textarea>
                  </div>

                 

                <!-- /.card-body -->
                <div class="col-12">
                  <h6>Inserir em mais turmas</h6>
                  {loop="$listaTurmas"} 
                    <input type="checkbox" name="maisTurmas[]" id="{$value.idTurma}" value="{$value.idTurma}"> 
                      <label for="{$value.idTurma}">{$value.nomeEscola} - {$value.nomeTurma}</label> <br>
                  {/loop}
                </div>
                <div class="card-footer col-md-12 form-group">
                  <button type="submit" class="btn btn-primary form-control">CADASTRAR</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

         


       

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
