
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Informar Contato</h1>
          </div><!-- /.col -->
        
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section>
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <form action="/monitoramento-covid" method="POST" class="form col-md-12">
          <div class="card-body col-sm-12 row">
            
            <div class="form-group col-md-6">
              <label>Nome do Aluno*</label>
              <input type="text" name="txtAluno" class="form-control" required>
            </div>
            <div class="col-md-3">
           
              <input type="radio" name="intTipo" value="0" id="contato" onchange="atualizaDatas()">
              <label for="contato" style="margin: 0;">Contato POSITIVO/SUSPEITO</label><br>
              <input type="radio" name="intTipo" value="1" id="confirmado" onchange="atualizaDatas()">
              <label for="confirmado" style="margin: 0;">Teste positivo</label><br>
              <input type="radio" name="intTipo" value="2" id="suspeito" onchange="atualizaDatas()">
              <label for="suspeito" style="margin: 0;">Suspeito</label><br>
            </div>
           
            <div class="form-group col-md-2">
              <label>Data de Nascimento</label>
              <input type="date" name="txtNascimento" id="dataNascimento" onchange="verificaIdade()" class="form-control">
            </div>
            <div class="form-group col-md-1">
              <label>Idade</label>
              <input type="text" name="txtIdade" id="idade" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label>Início de Sintomas/Contato*</label>
              <input type="date" name="dtInicioMonitoramento"  required  onclick="verificaStatus()" onchange="atualizaDatas()" id="inicioMonitoramento" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label>Fim do Monitoramento*</label>
              <input type="date" name="dtFimMonitoramento" id="fimMonitoramento" readonly  class="form-control">
            </div>

            <div class="form-group col-md-2">
              <label>Telefone Responsável*</label>
              <input type="text" name="txtTelefone" onkeyup="mascara('(##)#####-####',this,event,true)" maxlength="14" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label>Nome da Mãe</label>
              <input type="text" name="txtMae"  class="form-control">
            </div>
            
            <div class="form-group col-md-5">
              <label>Escola</label>
              <select name="cbEscola" id="cbEscola" onchange="atualiza()" class="form-control">
                <option value="">SELECIONE</option>
                <option value="APAE - Escola Neli Arantes dos Santos">APAE - Escola Neli Arantes dos Santos</option>
                <option value="Centro de Convivência José Hilário de Oliveira">Centro de Convivência José Hilário de Oliveira</option>
                <option value="CMEI Irmã Irene">CMEI Irmã Irene</option>
                <option value="Escola Estadual Coronel Lourenço Belo">Escola Estadual Coronel Lourenço Belo</option>
                <option value="Escola Estadual Modesto Antônio de Oliveira">Escola Estadual Modesto Antônio de Oliveira</option>
                <option value="Creche Municipal Florentina Maria de Jesus">Creche Municipal Florentina Maria de Jesus</option>
                <option value="Creche Municipal Professora Maria Catarina de Araújo">Creche Municipal Professora Maria Catarina de Araújo</option>
                <option value="Escola Municipal Antônio Modesto de Oliveira">Escola Municipal Antônio Modesto de Oliveira</option>
                <option value="Escola Municipal Elias Teodoro">Escola Municipal Elias Teodoro</option>
                <option value="Escola Municipal João Batista Trindade">Escola Municipal João Batista Trindade</option>
                <option value="Escola Municipal Nossa Senhora do Perpétuo Socorro">Escola Municipal Nossa Senhora do Perpétuo Socorro</option>
                <option value="Escola Municipal Professor Nogueira de Sá">Escola Municipal Professor Nogueira de Sá</option>
              </select>
            </div>

            <div class="col-md-3">
            <label>Turma</label>
            <select name="cbTurma" disabled class="form-control turmas">
              <option value="">SELECIONE</option>
              <option value="1º Ano - Ensino Fundamental" class="emet">1º Ano - Ensino Fundamental</option>
              <option value="2º Ano - Ensino Fundamental" class="emet">2º Ano - Ensino Fundamental</option>
              <option value="3º Ano - Ensino Fundamental" class="emet">3º Ano - Ensino Fundamental</option>
              <option value="4º Ano - Ensino Fundamental" class="emet">4º Ano - Ensino Fundamental</option>
              <option value="5º Ano - Ensino Fundamental" class="emet">5º Ano - Ensino Fundamental</option>
             
              <option value="Maternal III" class="cmei">Maternal III</option>
              <option value="1º Período - Educação Infantil" class="cmei">1º Período - Educação Infantil</option>
              <option value="2º Período - Educação Infantil" class="cmei">2º Período - Educação Infantil</option>
             
              <option value="1º Período - Educação Infantil" class="emmao">1º Período - Educação Infantil</option>
              <option value="2º Período - Educação Infantil" class="emmao">2º Período - Educação Infantil</option>
              <option value="1º Ano - Ensino Fundamental" class="emmao">1º Ano - Ensino Fundamental</option>
              <option value="2º Ano - Ensino Fundamental" class="emmao">2º Ano - Ensino Fundamental</option>
              <option value="3º Ano - Ensino Fundamental" class="emmao">3º Ano - Ensino Fundamental</option>
              <option value="4º Ano - Ensino Fundamental" class="emmao">4º Ano - Ensino Fundamental</option>
              <option value="5º Ano - Ensino Fundamental" class="emmao">5º Ano - Ensino Fundamental</option>
            
              <option value="1º Período - Educação Infantil" class="emjbt">1º Período - Educação Infantil</option>
              <option value="2º Período - Educação Infantil" class="emjbt">2º Período - Educação Infantil</option>
              <option value="1º Ano - Ensino Fundamental" class="emjbt">1º Ano - Ensino Fundamental</option>
              <option value="2º Ano - Ensino Fundamental" class="emjbt">2º Ano - Ensino Fundamental</option>
              <option value="3º Ano - Ensino Fundamental" class="emjbt">3º Ano - Ensino Fundamental</option>
              <option value="4º Ano - Ensino Fundamental" class="emjbt">4º Ano - Ensino Fundamental</option>
              <option value="5º Ano - Ensino Fundamental" class="emjbt">5º Ano - Ensino Fundamental</option>
            
              <option value="1º Período - Educação Infantil" class="emnsps">1º Período - Educação Infantil</option>
              <option value="2º Período - Educação Infantil" class="emnsps">2º Período - Educação Infantil</option>
              <option value="1º Ano - Ensino Fundamental" class="emnsps">1º Ano - Ensino Fundamental</option>
              <option value="2º Ano - Ensino Fundamental" class="emnsps">2º Ano - Ensino Fundamental</option>
              <option value="3º Ano - Ensino Fundamental" class="emnsps">3º Ano - Ensino Fundamental</option>
              <option value="4º Ano - Ensino Fundamental" class="emnsps">4º Ano - Ensino Fundamental</option>
              <option value="5º Ano - Ensino Fundamental" class="emnsps">5º Ano - Ensino Fundamental</option>

              <option value="1º Período - Educação Infantil" class="empns">1º Período - Educação Infantil</option>
              <option value="2º Período - Educação Infantil" class="empns">2º Período - Educação Infantil</option>
              <option value="1º Ano - Ensino Fundamental" class="empns">1º Ano - Ensino Fundamental</option>
              <option value="2º Ano - Ensino Fundamental" class="empns">2º Ano - Ensino Fundamental</option>
              <option value="3º Ano - Ensino Fundamental" class="empns">3º Ano - Ensino Fundamental</option>
              <option value="4º Ano - Ensino Fundamental" class="empns">4º Ano - Ensino Fundamental</option>
              <option value="5º Ano - Ensino Fundamental" class="empns">5º Ano - Ensino Fundamental</option>
              
              <option value="Berçário" class="cmpmca">Berçário - Educação Infantil</option>
              <option value="Maternal I" class="cmpmca">Maternal I - Educação Infantil</option>
              <option value="Maternal II" class="cmpmca">Maternal II - Educação Infantil</option>
              
              <option value="Berçário" class="cmfmj">Berçário - Educação Infantil</option>
              <option value="Maternal I" class="cmfmj">Maternal I - Educação Infantil</option>
              <option value="Maternal II" class="cmfmj">Maternal II - Educação Infantil</option>
              <option value="Maternal III" class="cmfmj">Maternal III - Educação Infantil</option>
              
              <option value="Berçário" class="cmjho">Berçário - Educação Infantil</option>
              <option value="Maternal I" class="cmjho">Maternal I - Educação Infantil</option>
              <option value="Maternal II" class="cmjho">Maternal II - Educação Infantil</option>
              <option value="Maternal III" class="cmjho">Maternal III - Educação Infantil</option>
              
              <option value="1º Ano - Ensino Fundamental" class="eeclb">1º Ano - Ensino Fundamental</option>
              <option value="2º Ano - Ensino Fundamental" class="eeclb">2º Ano - Ensino Fundamental</option>
              <option value="3º Ano - Ensino Fundamental" class="eeclb">3º Ano - Ensino Fundamental</option>
              <option value="4º Ano - Ensino Fundamental" class="eeclb">4º Ano - Ensino Fundamental</option>
              <option value="5º Ano - Ensino Fundamental" class="eeclb">5º Ano - Ensino Fundamental</option>
              <option value="6º Ano - Ensino Fundamental" class="eeclb">6º Ano - Ensino Fundamental</option>
              <option value="7º Ano - Ensino Fundamental" class="eeclb">7º Ano - Ensino Fundamental</option>
              <option value="8º Ano - Ensino Fundamental" class="eeclb">8º Ano - Ensino Fundamental</option>
              <option value="9º Ano - Ensino Fundamental" class="eeclb">9º Ano - Ensino Fundamental</option>

              <option value="6º Ano - Ensino Fundamental" class="eemao">6º Ano - Ensino Fundamental</option>
              <option value="7º Ano - Ensino Fundamental" class="eemao">7º Ano - Ensino Fundamental</option>
              <option value="8º Ano - Ensino Fundamental" class="eemao">8º Ano - Ensino Fundamental</option>
              <option value="9º Ano - Ensino Fundamental" class="eemao">9º Ano - Ensino Fundamental</option>
              <option value="1º Ano - Ensino Médio" class="eemao">1º Ano - Ensino Médio</option>
              <option value="2º Ano - Ensino Médio" class="eemao">2º Ano - Ensino Médio</option>
              <option value="3º Ano - Ensino Médio" class="eemao">3º Ano - Ensino Médio</option>
              
              <option value="Ensino Fundamental - APAE" class="apae">Ensino Fundamental - APAE</option>
              <option value="Projeto - APAE" class="apae">Projeto - APAE</option>

            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Professor(a)</label>
            <input type="text" name="txtProfessor"  class="form-control">
          </div>
          <br>

         
            <div class="form-group col-md-12 d-flex align-items-end">
              <input type="submit" value="Cadastrar" class="btn btn-success form-control">
            </div>
          
            

        
          
          </div>
          <!-- /.card-body -->
          <div class="card-footer row col-sm-12 d-flex ">

           
          </div>
        
        </form>
          <!-- ./col -->
        </div>
 
      </div>
    </section>
    <!-- /.content -->
  </div>