
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Aulas Cadastradas</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section>
      <div class="container-fluid">
  
  
        <!-- /.card-body -->
        <div class="card-body row col-sm-12">
  
          <div class="col-sm-1 no-print">
            <a href="/admin/turmas/{$turma}" class="btn btn-success form-control">Voltar</a>
          </div>
        
  
          <div class="col-sm-10 no-print">
            <form action="/admin/consolidado-aulas/{$turma}" method="get" class="row">


              {if="$verificaProfessor == 0"}
              <div class="col-md-3 form-group">
                <label for="">Professores</label>
                <select name="professores" id="" class="form-control">
                  {loop="$professores"}
                    <option value="{$value.idServidores}" {if="$professorSelecionado == $value.idServidores"}selected{/if}>{$value.txtNome}</option>
                  {/loop}
                </select>
                
              </div>
              {/if}

              {if="$infoTurma.txtNivelEnsino == 'Ensino Fundamental II' && $disciplinas"}
              <div class="form-group col-md-3">
                <label for="exampleInputPostagem">Disciplina</label>
                <select name="disciplina" id="" class="form-control" >
                  {loop="$disciplinas"}
                  <option value="{$value.fkDisciplina}">{$value.txtNomeDisciplina}</option>
                  {/loop}
                </select>
              </div>
              {/if}


              <div class="col-md-3 form-group">
                <label for="">Bimestres</label>
                <select name="bimestres" id="" class="form-control">
                  {loop="$bimestres"}
                    <option value="{$value.idBimestre}" 
                    {if="$bimestreSelecionado == $value.idBimestre"}selected{/if}>{$value.nomeBimestre}</option>
                  {/loop}
                </select>
                
                
              </div>

              <div class="col-md-1 form-group">
                <label for="">Fonte</label>
                <select name="fontSize" class="form-control" id="">
                  <option value="7" {if="$fontSize==7"}selected{/if}>7</option>
                  <option value="8" {if="$fontSize==8"}selected{/if}>8</option>
                  <option value="9" {if="$fontSize==9"}selected{/if}>9</option>
                  <option value="10" {if="$fontSize==10"}selected{/if}>10</option>
                  <option value="11" {if="$fontSize==11"}selected{/if}>11</option>
                  <option value="12" {if="$fontSize==12"}selected{/if}>12</option>
                </select>
              </div>

             
             
              <div class="col-md-3 form-group">
                <label for=""></label>
                <input type="submit" class="form-control btn btn-info" value="FILTRAR">
              </div>
            </form>
        </div>

        {if="$verificaDisciplina"}
        {if="$aulas"}
        <div class="col-sm-2 no-print">
          {if="$disciplina"}
            <a class="btn btn-info form-control" href="/admin/consolidado-aulas-imprimir/{$turma}?professores={$professorSelecionado}&bimestres={$bimestreSelecionado}&disciplina={$disciplina}&fontSize={$fontSize}">Imprimir</a>
          {else}
          <a class="btn btn-info form-control" href="/admin/consolidado-aulas-imprimir/{$turma}?professores={$professorSelecionado}&bimestres={$bimestreSelecionado}&fontSize={$fontSize}">Imprimir</a>
          {/if}
          </div> 
          {/if}
        
  
          {if="$aulas"}
          <div class="cabecalho">
            <h5>Consolidado de Conteúdo Lecionado por Bimestre</h5>
            <p class="escola">{$escola.nomeEscola}</p>
            <p class="escola mb-20">{$escola.txtEndereco} - {$escola.txtCidade} {$escola.txtEstado} - Telefone: {$escola.txtTelefone}</p>
            <div class="row">
                <div class="col-5">
                    <span><b>Professor(a): </b>{$professor.txtNome}</span> <br>
                    <span><b>Tipo de Ensino: </b>{$infoTurma.txtNivelEnsino}</span>
                    {if="$infoTurma.txtNivelEnsino == 'Ensino Fundamental II'"}
                    <span style="margin-left: 20px;"><b>Disciplina: </b>{$infoDisciplina}</span>
                    {/if}
                    
                </div>
              
                <div class="col-3">
                    <span><b>Ano/Série/Etapa: </b>{$infoTurma.txtEtapa}</span><br>
                    <span><b>Turma: </b>{$infoTurma.nomeTurma}</span>
                  
                </div>

                
                <div class="col-3">
                    <span><b>Turno: </b>{$infoTurma.txtTurno}</span><br>
                    <span><b>Bimestre: </b>{$bimestre.nomeBimestre}</span>
                </div>
            </div>
          </div>
          <div class="title">
            <p>CONTEÚDO LECIONADO</p>
        </div>
          <table class="table1">
           
            <thead>
               
              <tr>
                <th class="data center">Data</th>
                <th colspan="2">CONTEÚDO</th>
                
              </tr>
            </thead>
            <tbody>
              {loop="$aulas"}
  
              <tr>
                <td style="font-size: 12pt;">{function="date('d/m/Y', strtotime($value.dtData))"}</td>
  
                <td style="font-size: 12pt;" colspan="2">{$value.txtDescricao}</td>
              
              </tr>
  
  
              {/loop}
              <tr>
                <td style="font-size: 12pt;" colspan="3">Obs.:</td>
                
              </tr>
  
              <tr>
                
                  <td style="font-size: 12pt;"> <p style="text-align: center; margin: 10px 0 15px;">Encerrado em:</p>
                    <p style="margin-bottom: 7px;">___/___/_____</p>
                  </td>
                  <td><p>Assinatura do Professor</p></td>
                  <td><p>Assinatura do Superviso Pedagógico</p></td>
                
              </tr>
  
            </tbody>
          </table> 
          <br/><br/>
          
            

          </div>
          {else}
          <div class="col-12">
            <br>
            <h1>Não foram encontradas aulas cadastradas com base em seu filtro, altere o professor e/ou bimestre desejado!</h1>
          </div>
  
          {/if}
          {else}
          <div class="col-12">
            <br>
            <h1>Selecione uma disciplina!</h1>
          </div>
          {/if}
  
          <!-- ./col -->
        </div>
  
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <script>
    document.addEventListener("DOMContentLoaded", function () {
      function hideJivo() {
        var jivo = document.querySelector('jdiv');
        if (jivo) {
          jivo.style.display = 'none';
        }
      }
  
      var observer = new MutationObserver(function (mutationsList) {
        for (var mutation of mutationsList) {
          if (mutation.type === 'childList') {
            hideJivo();
          }
        }
      });
  
      observer.observe(document.body, { childList: true, subtree: true });
  
      
      hideJivo();
    });
  </script>