
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Relatório de Frequência - Alunos com benefícios do governo</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section>
      <div class="container-fluid">
  
  
        <!-- /.card-body -->
        <div class="card-body row col-sm-12">
  
         
        
  
          <div class="col-sm-6 no-print">
            <form action="/admin/escolasRelatorios/frequenciaAuxilio" method="get" class="row">

             


              <div class="col-md-4 form-group">
                <label for="">Data Inicial</label>
                <input type="date" class="form-control" name='dataInicial'>
              </div>


              <div class="col-md-4 form-group">
                <label for="">Data Final</label>
                <input type="date" class="form-control" name="dataFinal">
              </div>
             
              <div class="col-md-3 form-group">
                <label for=""></label>
                <input type="submit" class="form-control btn btn-info" value="GERAR RELATÓRIO">
              </div>
            </form>
        </div>

       
        
  
         
  
          <!-- ./col -->
        </div>
  
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->