
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Cadastrar Questão formulário</h1>
            </div>
           
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" action="/admin/relatorioFundamental/cadastrarPerguntas">
                  <div class="card-body row">
  
  
                    <div class="form-group col-md-3">
                      <label for="exampleInputName">Escola</label>
                      <select name="escola" id="" class="form-control">
                        {loop="$escolas"}
                        <option value="{$value.idEscola}">{$value.txtNome}</option>
                        {/loop}
                      </select>
                    </div>

                    <div class="form-group col-md-2">
                      <label for="exampleInputName">Etapa</label>
                      <select name="etapa" id="" class="form-control">
                        {loop="$etapas"}
                        <option value="{$value}">{$value}</option>
                        {/loop}
                      </select>
                    </div>
  
  
                    <div class="form-group col-md-2">
                      <label for="exampleInputAnoTurma">Eixo</label>
                      <select name="eixo" id="" class="form-control">
                        {loop="$eixos"}
                        <option value="{$value.idEixo}">{$value.txtNomeEixo}</option>
                        {/loop}
                      </select>
                    </div>

                    <div class="form-group col-md-2">
                      <label for="exampleInputAnoTurma">Tipo de questão</label>
                      <select name="tipoResposta" id="" class="form-control">
                        <option value="1">Conceito</option>
                        <option value="2">Resposta aberta</option>
                      </select>
                    </div>

                    <div class="form-group col-md-2">
                      <label for="exampleInputAnoTurma">Tipo de conceito (opcional)</label>
                      <select name="fkConceito" id="" class="form-control">
                        {loop="$conceitos"}
                        <option value="{$value.idTipoConceito}">{$value.txtNome}</option>
                        {/loop}
                      </select>
                    </div>

                    <div class="col-12 form-group">
                        <label for="">Pergunta</label>
                        <input type="text" name="txtPergunta" class="form-control"/>
                    </div>
                  <!-- /.card-body -->
                    <div class="col-12">
                      <input type="submit" value="Cadastrar" class="btn btn-primary form-control">

                    </div>
                    </div>
            
                </form>
              </div>
              <!-- /.card -->
  
           
  
         
  
            </div>
            <!--/.col (left) -->
            <!-- right column -->
          
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  
  