
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Desligar Aluno em Turma</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              

              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/desligarAluno/{$turma}/{$aluno}">
                <div class="card-body row">
                 

                  <div class="form-group col-md-6">
                    <label for="exampleInputTelefone">Situação de desligamento de turma</label>
                    <select name="situacao" class="form-control">
                      <option value=""></option>
                      <option value="Transferência" >Transferência</option>
                      <option value="Remanejamento">Remanejamento (troca de sala)</option>
                      <option value="Reclassificar">Reclassificação (troca de turma)</option>
                      <option value="Desistencia">Desistência/Abandono</option>
                      <option value="Óbito">Óbito</option>
                      <option value="Alcancaram">Alcançaram seus objetivos</option>

                      <option value="Deletar">Apagar da turma (cadastros errados - ATENÇÃO exclui todos os dados da turma)</option>

                    </select>
                    
                  </div>



                </div>
                <!-- /.card-body -->

                <div class="card-footer col-md-12 form-group">
                  <button type="submit" class="btn btn-primary form-control">Avançar</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            <br/><br/>
         
            

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>



     
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->



<script>
  function desabilitarBotao() {
      document.getElementById("enviar-btn").disabled = true;
      document.getElementById("enviar-btn").value = "Removendo..."; // Opcional: Alterar o texto do botão
  }
</script>