
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastro de Aluno</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              

              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/alunos/{$aluno.idAlunos}">
                <div class="card-body row">
                  <div class="col-md-12">
                    <h5>Dados do Aluno</h3>
                    <hr>
                  </div>
                  
                  <div class="form-group col-md-2">
                    <label>Código INEP</label>
                    <input type="text" class="form-control"name="txtInep" value="{$aluno.txtInep}" placeholder="INEP">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="exampleInputName">Nome Completo</label>
                    <input type="text" class="form-control" id="exampleInputName" name="txtNome" value="{$aluno.txtNome}" placeholder="Nome Completo">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputDataNacimento">Data de Nascimento</label>
                    <input type="date" class="form-control" id="exampleInputDataNacimento" name="dtDataNacimento" value="{$aluno.dtDataNascimento}" >
                  </div>


                  <div class="form-group col-md-2">
                    <label for="exampleInputRg">RG</label>
                    <input type="text" class="form-control" id="exampleInputRg" name="txtRg" value="{$aluno.txtRg}" placeholder="RG">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputRg">CPF</label>
                    <input type="text" class="form-control" id="exampleInputRg" name="txtCpf" value="{$aluno.txtCpf}" placeholder="CPF">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Sexo</label>
                    <select name="txtSexo" class="form-control">
                      <option value=""></option>
                      <option value="Feminino" {if="$aluno.txtSexo == 'FEMININO' or $aluno.txtSexo == 'Feminino'"}selected{/if}>Feminino</option>
                      <option value="Masculino" {if="$aluno.txtSexo == 'MASCULINO' or $aluno.txtSexo == 'Masculino'"}selected{/if}>Masculino</option>
                    </select>
                    
                  </div>

                  <div class="form-group col-md-3">
                    <label for="exampleInputTelefone">Cidade Naturalidade</label>
                    <input type="tel" class="form-control" id="exampleInputTelefone" value="{$aluno.txtCidadeNaturalidade}" name="txtCidadeNaturalidade" >
                  </div>

                  <div class="form-group col-md-1">
                    <label for="exampleInputTelefone">UF</label>
                    <select name="txtEstadoNaturalidade" class="form-control">
                      <option value="-1"></option>
                      <option value="AC" {if="$aluno.txtEstadoNaturalidade == 'AC'"}selected{/if}>AC</option>
                      <option value="AL" {if="$aluno.txtEstadoNaturalidade == 'AL'"}selected{/if}>AL</option>
                      <option value="AP" {if="$aluno.txtEstadoNaturalidade == 'AP'"}selected{/if}>AP</option>
                      <option value="AM" {if="$aluno.txtEstadoNaturalidade == 'AM'"}selected{/if}>AM</option>
                      <option value="BA" {if="$aluno.txtEstadoNaturalidade == 'BA'"}selected{/if}>BA</option>
                      <option value="CE" {if="$aluno.txtEstadoNaturalidade == 'CE'"}selected{/if}>CE</option>
                      <option value="DF" {if="$aluno.txtEstadoNaturalidade == 'DF'"}selected{/if}>DF</option>
                      <option value="ES" {if="$aluno.txtEstadoNaturalidade == 'ES'"}selected{/if}>ES</option>
                      <option value="GO" {if="$aluno.txtEstadoNaturalidade == 'GO'"}selected{/if}>GO</option>
                      <option value="MA" {if="$aluno.txtEstadoNaturalidade == 'MA'"}selected{/if}>MA</option>
                      <option value="MT" {if="$aluno.txtEstadoNaturalidade == 'MT'"}selected{/if}>MT</option>
                      <option value="MS" {if="$aluno.txtEstadoNaturalidade == 'MS'"}selected{/if}>MS</option>
                      <option value="MG" {if="$aluno.txtEstadoNaturalidade == 'MG'"}selected{/if}>MG</option>
                      <option value="PA" {if="$aluno.txtEstadoNaturalidade == 'PA'"}selected{/if}>PA</option>
                      <option value="PB" {if="$aluno.txtEstadoNaturalidade == 'PB'"}selected{/if}>PB</option>
                      <option value="PR" {if="$aluno.txtEstadoNaturalidade == 'PR'"}selected{/if}>PR</option>
                      <option value="PE" {if="$aluno.txtEstadoNaturalidade == 'PE'"}selected{/if}>PE</option>
                      <option value="PI" {if="$aluno.txtEstadoNaturalidade == 'PI'"}selected{/if}>PI</option>
                      <option value="RJ" {if="$aluno.txtEstadoNaturalidade == 'RJ'"}selected{/if}>RJ</option>
                      <option value="RN" {if="$aluno.txtEstadoNaturalidade == 'RN'"}selected{/if}>RN</option>
                      <option value="RS" {if="$aluno.txtEstadoNaturalidade == 'RS'"}selected{/if}>RS</option>
                      <option value="RO" {if="$aluno.txtEstadoNaturalidade == 'RO'"}selected{/if}>RO</option>
                      <option value="RR" {if="$aluno.txtEstadoNaturalidade == 'RR'"}selected{/if}>RR</option>
                      <option value="SC" {if="$aluno.txtEstadoNaturalidade == 'SC'"}selected{/if}>SC</option>
                      <option value="SP" {if="$aluno.txtEstadoNaturalidade == 'SP'"}selected{/if}>SP</option>
                      <option value="SE" {if="$aluno.txtEstadoNaturalidade == 'SE'"}selected{/if}>SE</option>
                      <option value="TO" {if="$aluno.txtEstadoNaturalidade == 'TO'"}selected{/if}>TO</option>
                    </select>
                  </div>


                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Cor/Raça</label>
                    <select name="txtRaca" class="form-control">
                      <option value=""></option>
                      <option value="Branca" {if="$aluno.txtRaca=='BRANCA' or $aluno.txtRaca=='Branca'"}selected{/if}>Branca</option>
                      <option value="Preta" {if="$aluno.txtRaca=='PRETA' or $aluno.txtRaca=='Preta'"}selected{/if}>Preta</option>

                      <option value="Negra" {if="$aluno.txtRaca=='NEGRA' or $aluno.txtRaca=='Negra'"}selected{/if}>Negra</option>
                      <option value="Parda" {if="$aluno.txtRaca=='PARDA' or $aluno.txtRaca=='Parda'"}selected{/if}>Parda</option>
                      <option value="Amarela" {if="$aluno.txtRaca=='AMARELA' or $aluno.txtRaca=='Amarela'"}selected{/if}>Amarela</option>
                      <option value="Indígena" {if="$aluno.txtRaca=='INDÍGENA' or $aluno.txtRaca=='Indígena'"}selected{/if}>Indígena</option>
                      <option value="Não declarado" {if="$aluno.txtRaca=='NÃO DECLARADO' or $aluno.txtRaca=='Não declarado'"}selected{/if}>Não declarado</option>
                    </select>
                    
                  </div>
                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Recebe Bolsa Família</label>
                    <select name="boolBolsaFamilia" class="form-control">
                      <option value=""></option>
                      <option value="1"  {if="$aluno.boolBolsaFamilia==1"}selected{/if}>Sim</option>
                      <option value="0" {if="$aluno.boolBolsaFamilia==0"}selected{/if}>Não</option>
                    </select>
                    
                  </div>


                  <div class="form-group col-md-4">
                    <label for="exampleInputTelefone">Tem alguma alergia (Descrever quais)</label>
                    <input name="txtAlergia" class="form-control"  value="{$aluno.txtAlergia}" placeholder="Caso não tenha, deixar em branco">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="exampleInputTelefone">Autoriza remédio para dor de cabeça e ou febre (Descrever quais) </label>
                    <input name="txtRemedio" class="form-control"  value="{$aluno.txtRemedio}" placeholder="Caso não autorizar, deixar em branco">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="exampleInputTelefone">Dosagem do remédio autorizado</label>
                    <input name="txtGotas" class="form-control"  value="{$aluno.txtGotas}" placeholder="Caso não autorizar, deixar em branco">
                  </div>



                  <div class="form-group col-md-6">
                    <label for="exampleInputTelefone">Possui algum problema de sáude que deva ser relatado a escola? (Descreva quais) </label>
                    <input name="txtSaude" class="form-control"  value="{$aluno.txtSaude}"  placeholder="Caso não tenha, deixar em branco">
                  </div>


                  <div class="form-group col-md-6">
                    <label for="exampleInputTelefone">Gostaria de fazer alguma observação </label>
                    <input name="txtObservacoesSaude" class="form-control" value="{$aluno.txtObservacoesSaude}" placeholder="Caso não tenha, deixar em branco">
                  </div>

                  
                  <div class="form-group col-md-4">
                    <label for="exampleInputTelefone">Possui restrição alimentar (Descrever quais)</label>
                    <input name="txtRestricaoAlimentar" class="form-control"  value="{$aluno.txtRestricaoAlimentar}"  placeholder="Caso não tenha, deixar em branco">
                  </div>

                  <div class="form-group col-md-8">
                    <label for="exampleInputTelefone">Existe alguma observação alimentar a ser inserida no fomulário do aluno?</label>
                    <input name="txtObservacaoAlimentar" class="form-control"   value="{$aluno.txtObservacaoAlimentar}" placeholder="Caso não tenha, deixar em branco">
                  </div>

                  <div class="form-group col-md-8">
                    <label for="exampleInputTelefone">É Portador de Necessidades Educacionais Especiais?</label>
                    <input name="txtNecessidadesEspeciais" value="{$aluno.txtNecessidadesEspeciais}" class="form-control" placeholder="Caso negativo, deixar em branco">
                  </div>



                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Utiliza Transporte</label>
                    <select name="boolTransporte" class="form-control">
                      <option value=""></option>
                      <option value="1" {if="$aluno.boolTransporte==1"}selected{/if}>Sim</option>
                      <option value="0" {if="$aluno.boolTransporte==0"}selected{/if}>Não</option>
                    </select>
                    
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Autoriza Imagem</label>
                    <select name="boolAutorizaImagem" class="form-control">
                      <option value=""></option>
                      <option value="1"  {if="$aluno.boolAutorizaImagem==1"}selected{/if}>Sim</option>
                      <option value="0"  {if="$aluno.boolAutorizaImagem==0"}selected{/if}>Não</option>
                    </select>
                    
                  </div>
                  
                    <div class="form-group col-md-5">
                    <label for="exampleInputTelefone">Permite participação em aulas de Ensino Religioso</label>
                    <select name="boolEnsinoReligioso" class="form-control">
                      <option value=""></option>
                      <option  {if="$aluno.boolAutorizaEnsinoReligioso=='Sim'"}selected{/if} value="Sim">Sim</option>
                      <option  {if="$aluno.boolAutorizaEnsinoReligioso=='Não'"}selected{/if} value="Não">Não</option>
                      <option  {if="$aluno.boolAutorizaEnsinoReligioso=='N/A'"}selected{/if} value="N/A">N/A</option>
                    </select>
                    
                  </div>

                  <br><br>
                  <div class="col-md-12" style="margin-top: 20px">
                    <h5>Dados do Responsável</h3>
                    <hr>
                  </div>
                
                  <div class="form-group col-md-6">
                    <label for="exampleInputNameMom">Nome da Mãe</label>
                    <input type="text" class="form-control" id="exampleInputNameMom" name="txtNomeMae" value="{$aluno.txtNomeMae}"  placeholder="Nome da Mãe">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Telefone</label>
                    <input type="tel" class="form-control" id="exampleInputTelefone" name="txtTelefoneMae" value="{$aluno.txtTelefoneMae}">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Profissão</label>
                    <input type="text" class="form-control" id="exampleInputTelefone" value="{$aluno.profissaoMae}" name="txtProfissaoMae" >
                  </div>
                

                  <div class="form-group col-md-6">
                    <label for="exampleInputNameDad">Nome do Pai</label>
                    <input type="text" class="form-control" id="exampleInputNameDad" name="txtNomePai" value="{$aluno.txtNomePai}" placeholder="Nome do Pai">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Telefone</label>
                    <input type="tel" class="form-control" id="exampleInputTelefone" name="txtTelefonePai" value="{$aluno.txtTelefonePai}">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Profissão</label>
                    <input type="text" class="form-control" id="exampleInputTelefone" value="{$aluno.profissaoPai}" name="txtProfissaoPai" >
                  </div>


                  <div class="form-group col-md-6">
                    <label for="exampleInputNameDad">Nome do Responsável</label>
                    <input type="text" class="form-control" id="exampleInputNameDad" name="txtNomeResponsavel" value="{$aluno.txtNomeResponsavel}" placeholder="Nome do Pai">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Telefone</label>
                    <input type="tel" class="form-control" id="exampleInputTelefone" name="txtTelefone" value="{$aluno.txtTelefoneResponsavel}">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Parentesco</label>
                    <input type="tel" class="form-control" id="exampleInputTelefone" name="txtGrauResponsavel" value="{$aluno.txtGrauResponsavel}">
                  </div>


                

                


              

                  <div class="form-group col-md-6">
                    <label for="exampleInputRua">Logradouro</label>
                    <input type="text" class="form-control" id="exampleInputRua" name="txtRua" value="{$aluno.txtRua}" placeholder="Rua, avenida, etc.">
                  </div>

                  <div class="form-group col-md-1">
                    <label for="exampleInputNumeroCasa">Nº</label>
                    <input type="text" class="form-control" id="exampleInputNumeroCasa" name="intNumeroCasa" value="{$aluno.intNumeroCasa}" placeholder="Numero">
                  </div>


                  <div class="form-group col-md-4">
                    <label for="exampleInputRua">Complemento</label>
                    <input type="text" class="form-control" id="exampleInputRua" name="txtComplemento" value="{$aluno.txtComplemento}" placeholder="Ex.: Ap 101">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="exampleInputBairro">Bairro</label>
                    <input type="text" class="form-control" id="exampleInputBairro" name="txtBairro" value="{$aluno.txtBairro}" placeholder="Bairro">
                  </div>

                  <div class="form-group col-md-8">
                    <label for="exampleInputTelefone">Quem está autorizado a buscar a criança na escola?</label>
                    <input name="txtPessoasAutorizadas"  value="{$aluno.txtPessoasAutorizadas}" class="form-control" placeholder="Caso negativo, deixar em branco">
                  </div>

                  <!-- <div class="form-group col-md-4">
                    <label for="exampleInputBairro">Cidade</label>
                    <input type="text" class="form-control" id="exampleInputBairro" name="txtCidade" placeholder="Cidade">
                  </div>

                  <div class="form-group col-md-1">
                    <label for="exampleInputBairro">UF</label>
                    <input type="text" class="form-control" id="exampleInputBairro" name="txtEstado" placeholder="Estado">
                  </div> -->
              
                </div>
                <!-- /.card-body -->

                <div class="card-footer col-md-12 form-group">
                  <button type="submit" class="btn btn-primary form-control">ATUALIZAR</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            <br/><br/>
            <a href="/admin/imprimeAluno/{$aluno.idAlunos}" class="btn btn-info">Ficha de Dados do Aluno</a>

            <a href="/admin/gerarDeclaracaoMatricula/{$aluno.idAlunos}" class="btn btn-info">Declaração de Matrícula</a>
            <a href="/admin/gerarDeclaracaoFrequencia/{$aluno.idAlunos}" class="btn btn-info">Declaração de Frequência</a>
            <a href="/admin/iniciarMatriculaAluno?aluno={$aluno.idAlunos}" class="btn btn-info">Iniciar Matrícula</a>
            

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>



        <div class="row">
          {if="$turmas"}
          <div class="col-md-12">
            <table class="table mt-3">
              <thead>
                <tr>
                  <th>Turma</th>
                  <th>Escola</th>
                  <th scope="col">Ano</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {loop="$turmas"}
             
                <tr>
                  <td>{$value.txtTurma}</td>
                  <td>{$value.txtEscola}</td>
                  <td>{$value.txtAno}</td>
                  {if="$value.boolStatus != -1"}
                  <td>
                    {if="$value.boolStatus == 1"}
                    Ativo
                    {else}
                    Desligado
                    {/if}
                  </td>
                  {else}
                  <td></td>
                  {/if}
                  {if="$value.fkTurma != -1"}
                  <td class="botao"><a href="/admin/turmas/{$value.fkTurma}"><button class="btn btn-info btn-sm">Acessar <i class="fas fa-info"></i></button></a></td>
                  {else}
                    {if="$value.retroativo !=-1"}
                    <td class="botao"><a href="/admin/anosRetroativos/{$value.retroativo}"><button class="btn btn-info btn-sm">Acessar <i class="fas fa-info"></i></button></a></td>
                    {else}
                    <td class="botao"><a href="/admin/cadastrar-anosRetroativos/{$value.txtTurma}/{$value.txtAno}/{$aluno.idAlunos}"><button class="btn btn-info btn-sm">Cadastrar <i class="fas fa-plus"></i></button></a></td>
                    {/if}
                  
                  {/if}
               
                </tr>
               
                {/loop}
               

        
              </tbody>
            </table>
          </div>
          {/if}

          {if="$infantil"}
          <div class="col-md-12">
            <h3>Turmas de Educação Infantil</h3>
            <table class="table mt-3">
              <thead>
                <tr>
                  <th>Turma</th>
                  <th>Escola</th>
                 

                  <th scope="col">Ano</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {loop="$infantil"}
             
                <tr>
                  <td>{$value.nomeTurma}</td>
                  <td>{$value.txtNome}</td>
                  <td>{$value.txtAnoTurma}</td>
              
                  
                  <td class="botao"><a href="/admin/turmas/{$value.idTurma}"><button class="btn btn-info btn-sm">Acessar <i class="fas fa-info"></i></button></a></td>
                 
               
                </tr>
               
                {/loop}
               

        
              </tbody>
            </table>
          </div>
          {/if}

        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
