
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastro Turmas</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/turmas/{$turma.idTurma}">
                <div class="card-body row">

                  <div class="form-group col-md-4">
                    <label for="exampleInputName">Nome</label>
                    <input type="text" class="form-control"  {if="$permissaoMenu == 3"}disabled{/if} value="{$turma.nomeTurma}" id="exampleInputName" name="txtNome" placeholder=" Nome">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputAnoTurma">Ano da turma</label>
                    <input type="text" class="form-control" {if="$permissaoMenu == 3"}disabled{/if} value="{$turma.txtAnoTurma}"  id="exampleInputAnoTurma" name="txtAnoTurma" placeholder="Ano">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="exampleInputAnoTurma">Escola</label>
                    <select name="fkEscola" {if="$permissaoMenu == 3"}disabled{/if} class="form-control">
                      {loop="$escolas"}
                      <option value="{$value.idEscola}" {if="$value.idEscola == $turma.fkEscola"}selected{/if}>{$value.txtNome}</option>
                      {/loop}
                    </select>


                  
                    
                  </div>
                 
                  
                  <div class="form-group col-md-2">
                    <label for="exampleInputAnoTurma">Turno</label>
                    <select name="txtTurno" id=" " {if="$permissaoMenu == 3"}disabled{/if} class="form-control">
                      <option value="Manhã" {if="$turma.txtTurno == 'Manhã'"}selected{/if}>Manhã</option>
                      <option value="Tarde" {if="$turma.txtTurno == 'Tarde'"}selected{/if}>Tarde</option>
                      <option value="Noite" {if="$turma.txtTurno == 'Noite'"}selected{/if}>Noite</option>
                      <option value="Integral" {if="$turma.txtTurno == 'Integral'"}selected{/if}>Integral</option>

                    </select>

                  
                    
                  </div>

                    
             
                  <div class="form-group col-md-2">
                    <label for="exampleInputAnoTurma">Etapa</label>
                    <select name="txtEtapa" id=" " {if="$permissaoMenu == 3"}disabled{/if} class="form-control">
                      <option value="Creche" {if="$turma.txtEtapa == 'Creche'"}selected{/if}>Creche</option>
                      <option value="Maternal" {if="$turma.txtEtapa == 'Berçário'"}selected{/if}>Berçário</option>
                      
                      <option value="Maternal" {if="$turma.txtEtapa == 'Maternal'"}selected{/if}>Maternal</option>
                  

                      <option value="1º Período" {if="$turma.txtEtapa == '1º Período'"}selected{/if}>1º Período</option>
                      <option value="2º Período" {if="$turma.txtEtapa == '2º Período'"}selected{/if}>2º Período</option>   
                      <option value="Pré 4"  {if="$turma.txtEtapa == 'Pré 4'"}selected{/if}>Pré 4</option>
                      <option value="Pré 5" {if="$turma.txtEtapa == 'Pré 5'"}selected{/if}>Pré 5</option> 
                      
                      <option value="Infantil I - 2 Anos" {if="$turma.txtEtapa == 'Infantil I - 2 Anos'"}selected{/if}>Infantil I - 2 Anos</option>
                      <option value="Infantil II - 3 Anos" {if="$turma.txtEtapa == 'Infantil II - 3 Anos'"}selected{/if}>Infantil II - 3 Anos</option>
                      <option value="Infantil III - 4 Anos" {if="$turma.txtEtapa == 'Infantil III - 4 Anos'"}selected{/if}>Infantil III - 4 Anos</option>
                      <option value="Infantil IV - 5 Anos" {if="$turma.txtEtapa == 'Infantil IV - 5 Anos'"}selected{/if}>Infantil IV - 5 Anos</option>
                      
                      
                      
                      <option value="1º ANO" {if="$turma.txtEtapa == '1º ANO'"}selected{/if}>1º ANO</option>
                      <option value="2º ANO" {if="$turma.txtEtapa == '2º ANO'"}selected{/if}>2º ANO</option>                     
                      <option value="3º ANO" {if="$turma.txtEtapa == '3º ANO'"}selected{/if}>3º ANO</option>
                      <option value="4º ANO" {if="$turma.txtEtapa == '4º ANO'"}selected{/if}>4º ANO</option>
                      <option value="5º ANO" {if="$turma.txtEtapa == '5º ANO'"}selected{/if}>5º ANO</option>
                      <option value="6º ANO" {if="$turma.txtEtapa == '6º ANO'"}selected{/if}>6º ANO</option>
                      <option value="7º ANO" {if="$turma.txtEtapa == '7º ANO'"}selected{/if}>7º ANO</option>
                      <option value="8º ANO" {if="$turma.txtEtapa == '8º ANO'"}selected{/if}>8º ANO</option>
                      <option value="9º ANO" {if="$turma.txtEtapa == '9º ANO'"}selected{/if}>9º ANO</option>

                    </select>
                  </div>
                  
                  <div class="form-group col-md-3">
                    <label for="exampleInputAnoTurma">Nível de Ensino</label>
                    <select name="txtNivelEnsino" id=" " {if="$permissaoMenu == 3"}disabled{/if} class="form-control">
                  
                      <option value="Educação Infantil" {if="$turma.txtNivelEnsino == 'Educação Infantil'"}selected{/if}>Educação Infantil</option>
                      <option value="Ensino Fundamental I" {if="$turma.txtNivelEnsino == 'Ensino Fundamental I'"}selected{/if}>Ensino Fundamental I</option>      
                      <option value="Ensino Fundamental II" {if="$turma.txtNivelEnsino == 'Ensino Fundamental II'"}selected{/if}>Ensino Fundamental II</option>      
                      
                    </select>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="exampleInputAnoTurma">Ensino</label>
                    <select name="txtEnsino" id=" " {if="$permissaoMenu == 3"}disabled{/if} class="form-control">
                  
                      <option value="1" {if="$turma.ensino == '1'"}selected{/if}>Regular</option>
                      <option value="2" {if="$turma.ensino == '2'"}selected{/if}>Integral</option>      
                    
                    </select>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="exampleInputAnoTurma">Professor Responsável</label>
                    <select name="professorResponsavel" id=" " {if="$permissaoMenu == 3"}disabled{/if} class="form-control">
                      <option>SELECIONE</option>
                      {loop="$professores"}
                      <option value="{$value.idServidores}" {if="$value.idServidores == $turma.professorRegente"}selected{/if}>{$value.txtNome}</option>
                      {/loop} 
                    
                    </select>
                  </div>

                  {if="$permissaoMenu < 3"}
                  <div class="col-md-2"><label for=""></label>
                    <input type="submit" value="ENVIAR" class="btn btn-success form-control" style="margin-bottom: 0;">
                  </div>
                  {/if}
                </div>
                <!-- /.card-body -->

                <div class="card-footer col-md-12 row">
              
                  <div class="col-md-1 mt-2">
                    <a href="/admin/turmas" class="btn btn-success form-control">Voltar</a>
                  </div>

                  {if="$permissao< 3"}
                  <div class="col-md-2 mt-2">
                    <a href="/admin/configuracoes/{$turma.idTurma}" class="btn btn-info form-control"><i class="fas fa-cog"></i> Configurações</a>

                  </div>
                 <!-- <div class="col-md-2 mt-2">
                    <a href="" class="btn btn-info form-control">Professores</a>
                  </div>-->
                  {/if}
                  {if="$permissao< 3"}
                  <div class="col-md-1 mt-2">
                    <a href="/admin/alunosturma/{$turma.idTurma}" class="btn btn-info form-control"><i class="fas fa-user-graduate"></i> Alunos</a>
                  </div>
                  {/if}
                

                  {if="$permissao == 3"}
                  <div class="col-md-2 mt-2">
                    <a href="/admin/avaliacoes/{$turma.idTurma}" class="btn btn-info form-control">Avaliações</a>
                  </div>
                {/if}

                {if="$permissao == 3 && $turma.txtNivelEnsino == 'Educação Infantil'"}
                <div class="col-md-2 mt-2">
                  <a href="/admin/ficha-avaliacoes/periodo/{$turma.idTurma}" class="btn btn-info form-control">Ficha de Avaliação</a>
                </div>
              {/if}


                {if="$permissao == 3"}
                <div class="col-md-2 mt-2">
                <div class="dropdown">
                  <button class="btn btn-info form-control dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                   Recuperação
                  </button>
                  <div class="dropdown-menu">
                    <a  class="dropdown-item" href="/admin/recuperacao/{$turma.idTurma}">Recuperação bimestral</a>
                    <a  class="dropdown-item" href="/admin/recuperacaoAnual/{$turma.idTurma}">Recuperação anual</a>

                  </div>
              
                </div>
                </div>
              {/if}
                  

                 


                
                 
                  {if="$permissao == 3"}
                  {if="$turma.txtNivelEnsino != 'Educação Infantil'"}
                  <div class="col-md-2 mt-2">
                    <a href="/admin/aulas/{$turma.idTurma}" class="btn btn-info form-control">Aulas</a>
                  </div>
                  {else}
                  {if="$turma.txtNivelEnsino == 'Educação Infantil' && $turma.boolInfantilSemanal == false"}
                  <div class="col-md-2 mt-2">
                    <a href="/admin/aulas/{$turma.idTurma}" class="btn btn-info form-control">Aulas</a>
                  </div>
                  {else}
                  <div class="col-md-4 mt-2">
                    <a href="/admin/aulasInfantil/{$turma.idTurma}" class="btn btn-info form-control">Unidades temáticas</a>
                  </div>
                  <div class="col-md-4 mt-2">
                    <a href="/admin/presencasInfantil/{$turma.idTurma}" class="btn btn-info form-control">Controle de presença</a>
                  </div>
                  {/if}
                  {/if}

                  {/if}

                  {if="$permissao == 3"}
                  <div class="col-md-3 mt-2">
                    <a href="/admin/turmas/{$turma.idTurma}/relatorioIndividual/alunos" class="btn btn-info form-control">Acompanhamento Individual</a>
                  </div>
                {/if}
                    

                
                  {if="$permissao <= 3"}
                  <div class="col-md-3 mt-2">
                  <div class="dropdown">
                    <button class="btn btn-info form-control dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-print"></i> Relatórios
                    </button>
                    <div class="dropdown-menu">
                      <a  class="dropdown-item" href="/admin/turmas/{$turma.idTurma}/avaliacoesIndividuais">Acompanhamento Individual</a>
                     
                      <a  class="dropdown-item" href="/admin/capaTurma/{$turma.idTurma}">Capa da turma</a>
                     
                      {if="$permissao <= 3"}
                      {if="$turma.txtNivelEnsino != 'Educação Infantil' or ($turma.txtNivelEnsino == 'Educação Infantil' && (isset($turma.boolInfantilSemanal) ? $turma.boolInfantilSemanal == false : true))"}
                      <a class="dropdown-item" href="/admin/apuracaoPresencas/{$turma.idTurma}">Apuração de presenças</a>
                      
                      {else}
                      <a href="/admin/apuracaoPresencasInfantil/{$turma.idTurma}" class="dropdown-item">Apuração de presenças</a>
                                          
                      {/if}
                      {/if}


                      {if="$permissao< 3 && $turma.txtNivelEnsino != 'Educação Infantil'"}
                      {if="$secretaria.intModeloAta && $secretaria.intModeloAta == 1"}
                      <a href="/admin/ataSimplificada/{$turma.idTurma}"class="dropdown-item">Ata de Progressão</a>
                      {else}
                      <a href="/admin/ataProgresso/{$turma.idTurma}"class="dropdown-item" >Ata de Progressão</a>
                      {/if}
                      {/if}

                      {if="$permissao< 3"}
                      {if="$turma.txtNivelEnsino != 'Educação Infantil'"}
                      <a href="/admin/boletim/{$turma.idTurma}"class="dropdown-item" >Boletim</a>
                      {/if}
                      {/if}


                      {if="$turma.txtNivelEnsino != 'Educação Infantil'"}
                    
                        <a href="/admin/consolidadoAvaliacoes/{$turma.idTurma}"  class="dropdown-item">Consolidado Avaliações</a>
                      
                      {/if}

                      {if="$permissao <= 3"}
                      {if="$turma.txtNivelEnsino != 'Educação Infantil' or ($turma.txtNivelEnsino == 'Educação Infantil' && (isset($turma.boolInfantilSemanal) ? $turma.boolInfantilSemanal == false : true))"}
                      <a class="dropdown-item" href="/admin/consolidado-aulas/{$turma.idTurma}">Consolidado de conteúdo</a>
                      {else}
                      <a class="dropdown-item" href="/admin/consolidado-aulasInfantil/{$turma.idTurma}">Consolidado de conteúdo</a>
                     
                      {/if}
                      {/if}

                      <a class="dropdown-item" href="/admin/consolidadoAvaliacaoFinal/{$turma.idTurma}">Consolidado de Notas</a>


                      {if="$permissao < 3 && $turma.txtNivelEnsino == 'Educação Infantil'"}
                  
                        <a href="/admin/imprimir-ficha-avaliacoes/periodo/{$turma.idTurma}" class="dropdown-item">Ficha de Avaliação Infantil</a>
                     
                    {/if}

                      {if="$permissao < 3 && $turma.txtNivelEnsino == 'Educação Infantil'"}
                      <a href="/admin/fichaIndividualAlunoCmei/{$turma.idTurma}" class="dropdown-item">Ficha Desempenho</a>

                      {/if}

                      {if="$permissao < 3 && $turma.txtNivelEnsino != 'Educação Infantil'"}
                        <a href="/admin/fichaIndividualAluno/{$turma.idTurma}" class="dropdown-item">Ficha Individual</a>
                      {/if}
                      {if="$permissao < 3"}
                      <a href="/admin/identificacaoAlunos/{$turma.idTurma}" class="dropdown-item">Identificação alunos</a>
                    {/if}

                      {if="$turma.txtNivelEnsino != 'Educação Infantil'"}
                        {if="$permissao < 3"}
                        <a href="/admin/gerarRelatorioFundamental/{$turma.idTurma}" class="dropdown-item">Relatório de Desempenho</a>

                        {else}
                        <a href="/admin/relatorioFundamental/listAlunosRelatorioFundamental/{$turma.idTurma}" class="dropdown-item">Relatório de Desempenho</a>

                        {/if}
                    {/if}
                     

                      
                    </div>
                  </div>
                </div>
                  {/if}

                 
                  

                

                

              
                 
           
                




                  
              
                </div>
              </form>
            </div>

            <!-- /.card -->

         

       

          </div>

        

          <div class="col-md-12">
            <div style="display: flex; justify-content: space-between;">

              <h2>Alunos</h2>

              {if="$permissao < 3"}
              <div class="col-3">
                <a href="/admin/folhaRosto/{$turma.idTurma}" class="btn btn-info form-control">Folha de rosto</a>
              </div>
              {/if}
            </div>
            
          
            
            <table class="table mt-3">
              <thead>
                <tr>
                  <th >Aluno</th>
                  <th scope="col">Data de Nascimento</th>
                 
                  <th>Nome da Mãe</th>
                  <th>Telefone do Responsável</th>
                  <th>Entrada</th>
                  <th>Saída</th>
                </tr>
              </thead>
              <tbody>
                {loop="$alunos"}
             
                <tr {if="$value.dataSaida"}style='background-color: #a4b0be;'{/if}>
                  <td>{$value.txtNome}</td>
                  <td>{function="date('d/m/Y', strtotime($value.dtDataNascimento))"}</td>
                  <td>{$value.txtNomeMae}</td>
                  <td>{$value.txtTelefoneResponsavel}</td>
                  <td>{function="date('d/m/Y', strtotime($value.dataMatricula))"}</td>
                  <td>
                    {if="$value.dataSaida"}
                    {function="date('d/m/Y', strtotime($value.dataSaida))"}
                    {/if}
                  </td>
                
                  <!-- <td><a {if="$permissao != 2"}href="/admin/notas/aluno/{$value.idAlunos}"{else}
                        href="/admin/notas/turma/{$turma.idTurma}/aluno/{$value.idAlunos}"
                      {/if}
                     class="btn btn-info">Notas</a></td>
                  <td>{if="$permissao !=2"}<a href="/admin/presencas/aluno/{$value.idAlunos}"{else}
                    <a href="/admin/presencas/turma/{$turma.idTurma}/aluno/{$value.idAlunos}"
                    {/if}
                    class="btn btn-info">Presenças</a></td> -->
                </tr>
               
                {/loop}
               

        
              </tbody>
            </table>
          </div>
          
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

