
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastro Turma</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/turmas/{$turma.idTurma}">
                <div class="card-body row">

                  <div class="form-group col-md-5">
                    <label for="exampleInputName">Nome</label>
                    <input type="text" class="form-control" value="{$turma.nomeTurma}" required id="exampleInputName" name="nomeTurma" placeholder="Nome da turma">
                  </div>

                  <div class="form-group col-md-3">
                    <label for="exampleInputAnoTurma">Etapa</label>
                    <select name="anoTurma" value="{$turma.anoTurma}" id=" " class="form-control">
                      <option value="1º ANO - Ens. Fundamental" {if="{$turma.anoTurma == '1º ANO - Ens. Fundamental'}"}selected{/if}>1º ANO - Ens. Fundamental</option>
                      <option value="2º ANO - Ens. Fundamental" {if="{$turma.anoTurma == '2º ANO - Ens. Fundamental'}"}selected{/if}>2º ANO - Ens. Fundamental</option>                     
                      <option value="3º ANO - Ens. Fundamental" {if="{$turma.anoTurma == '3º ANO - Ens. Fundamental'}"}selected{/if}>3º ANO - Ens. Fundamental</option>
                      <option value="4º ANO - Ens. Fundamental" {if="{$turma.anoTurma == '4º ANO - Ens. Fundamental'}"}selected{/if}>4º ANO - Ens. Fundamental</option>
                      <option value="5º ANO - Ens. Fundamental" {if="{$turma.anoTurma == '5º ANO - Ens. Fundamental'}"}selected{/if}>5º ANO - Ens. Fundamental</option>
                      <option value="6º ANO - Ens. Fundamental" {if="{$turma.anoTurma == '6º ANO - Ens. Fundamental'}"}selected{/if}>6º ANO - Ens. Fundamental</option>
                      <option value="7º ANO - Ens. Fundamental" {if="{$turma.anoTurma == '7º ANO - Ens. Fundamental'}"}selected{/if}>7º ANO - Ens. Fundamental</option>
                      <option value="8º ANO - Ens. Fundamental" {if="{$turma.anoTurma == '8º ANO - Ens. Fundamental'}"}selected{/if}>8º ANO - Ens. Fundamental</option>
                      <option value="9º ANO - Ens. Fundamental" {if="{$turma.anoTurma == '9º ANO - Ens. Fundamental'}"}selected{/if}>9º ANO - Ens. Fundamental</option>
                      <option value="1º ANO - Ens. Médio" {if="{$turma.anoTurma == '1º ANO - Ens. Médio'}"}selected{/if}>1º ANO - Ens. Médio</option>
                      <option value="2º ANO - Ens. Médio" {if="{$turma.anoTurma == '2º ANO - Ens. Médio'}"}selected{/if}>2º ANO - Ens. Médio</option>                     
                      <option value="3º ANO - Ens. Médio" {if="{$turma.anoTurma == '3º ANO - Ens. Médio'}"}selected{/if}>3º ANO - Ens. Médio</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="exampleInputAnoTurma">Horário</label>
                    <select name="fkHorario" value="{$turma.fkHorario}" class="form-control">
                      {loop="$horarios"}
                        <option value="{$value.idHorario}" {if="{$turma.fkHorario == $value.idHorario}"}selected{/if}>{$value.nomeHorario}</option>
                      {/loop}
                    </select>
                  </div>


                </div>
                <!-- /.card-body -->

                <div class="card-footer col-md-12 form-group">
                  <button type="submit" class="btn btn-primary form-control">Cadastrar</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

         

       

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

