<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Mais Educação</h1>
        </div>
        
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST" action="/admin/maisEducacao/{$educacao.idMaisEducacao}" enctype="multipart/form-data">
              <div class="card-body row">
                <input type="hidden" name="imagem" value="{$educacao.txtImagem}">
                <div class="form-group col-md-6">
                  <label for="exampleInputNome">Nome</label>
                  <input type="text" class="form-control" value="{$educacao.txtNome}" id="exampleInputNome" name="txtNome">
                </div>

                <div class="form-group col-md-1">
                  <label for="exampleInputIdadeSugerida">Idade</label>
                  <input type="text" class="form-control" value="{$educacao.intIdadeSugerida}" id="exampleInputIdadeSugerida" name="intIdadeSugerida">
                </div>

                <div class="form-group col-md-5">
                  <label for="exampleInputTipo">Tipo</label>
                  <select name="intTipo" class="form-control" >
                    <option value="-1">SELECIONE</option>
                    <option value="1" {if="$educacao.intTipo==1"}selected{/if}>Indicação Literária</option>
                    <option value="2" {if="$educacao.intTipo==2"}selected{/if}>Indicação de Jogos</option>
                    <option value="3" {if="$educacao.intTipo==3"}selected{/if}>Indicação de Filmes</option>
                  </select>
                 
                </div>

               

                <div class="form-group col-md-5">
                  <label for="exampleInputLink">Links</label>
                  <input type="text" class="form-control" value="{$educacao.txtLink}" id="exampleInputLink" name="txtLink" placeholder="https://">
                </div>

                <div class="form-group col-md-2">
                  <label for="exampleInputAno">Ano (Filmes/Livros)</label>
                  <input type="text" class="form-control" value="{$educacao.txtAno}" id="exampleInputAno" name="txtAno" >
                </div>

                <div class="form-group col-md-5">
                  <label for="exampleInputAutor">Autor</label>
                  <input type="text" class="form-control" value="{$educacao.txtAutor}" id="exampleInputAutor" name="fkAutor">
                </div>


                <div class="form-group col-md-12">
                  <label for="exampleInputDescricao">Descrição</label>
                  <textarea name="txtDescricao" class="form-control" rows="4">{$educacao.txtDescricao}</textarea>

                </div>
              
                <div class="form-group col-md-6">
                  <label for="exampleInputName">Imagem</label><br>
                  <input type="file"  id="exampleInputName" name="fotos"  {if="$educacao.txtImagem"} disabled  {/if} placeholder="Escola">
                </div>
               
              </div>
              <!-- /.card-body -->


              <div class="card-footer col-md-12 form-group">
                <button type="submit" class="btn btn-success form-control">Atualizar</button>
              </div>

              {if="$educacao.txtImagem"}
              <div class="col-md-12 d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
                <img src="/res/_img/maiseducacao/{$educacao.txtImagem}" width="200">
                <a href="/admin/removerFotoMaisEducacao/{$educacao.idMaisEducacao}" class="btn btn-danger">Remover <i class="fas fa-trash"></i></a>
              </div>
              {/if}
            </form>
          </div>
          <!-- /.card -->

       

     

        </div>
        <!--/.col (left) -->
        <!-- right column -->
      
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

