
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastro Supervisores</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/supervisores/{$supervisor.idSupervisores}">
                <div class="card-body row">

                  <div class="form-group col-md-4">
                    <label for="exampleInputName">Nome</label>
                    <select name="idServidor" id=" " class="form-control">
                      {loop="$servidores"}
                      <option value="{$value.idServidores}" {if="$supervisor.fkServidores == $value.idServidores"} selected {/if}>
                        {$value.txtNome}</option>
                      {/loop}
                    </select>
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputAnoTurma">Ano Letivo</label>
                    <input type="text" class="form-control" id="exampleInputAnoTurma" value="{$supervisor.txtAno}"
                     name="txtAnoLetivo" placeholder="Ano">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="exampleInputAnoTurma">Escola</label>
                    <select name="fkEscola" id=" " class="form-control">
                      {loop="$escolas"}
                      <option value="{$value.idEscola}" {if="$value.idEscola==$supervisor.fkEscola"}selected{/if}>{$value.txtNome}</option>
                      {/loop}
                    </select>
                
                  </div>
                  <div class="form-group col-md-1">
                    <label for="ativo">Ativo</label>
                    <input type="checkbox" name="boolAtivo" {if="$supervisor.boolAtivo"}checked{/if} class="form-control" id="ativo">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer col-md-12 form-group">
                  <button type="submit" class="btn btn-primary form-control">Cadastrar</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

         

       

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

