
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastrar Atividade</h1>
          </div>
        
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/atividade/{$atividade.idAtividades}">
                <div class="card-body row">
                  <div class="form-group col-md-2">
                    <label for="exampleInputPostagem">Data de Atividade</label>
                    <input type="date" class="form-control" id="exampleInputPostagem" value="{$atividade.dtAtividade}" name="dtDataAtividade">
                  </div>

                  

                  <div class="form-group col-md-3">
                    <label for="exampleInputDescricao">Semana</label>
                    <select name="fkSemana" id="" class="form-control">
                        <option value="">Selecione</option>
                        {loop="$semanas"}
                          <option value="{$value.idSemana}" {if="$value.idSemana == $atividade.fkSemana"}selected{/if}><b>{$value.txtNome}</b> - De {$value.dtDataInicio} a {$value.dtDataFim} </option>
                        {/loop}
                    </select>
                  </div>

                  <div class="form-group col-md-5">
                    <label for="exampleInputDescricao">Decrição da atividade</label>
                    <textarea  class="form-control" name="txtDescricao" rows="3">{$atividade.txtDescricao}</textarea>
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputDescricao"></label>
                    <br>
                    <input type="submit" value="Atualizar" class="form-control btn btn-success">
                  </div>
                
                  


                  


                
                  

                <!-- /.card-body -->

              
              </form>
            </div>
            <!-- /.card -->

            </div>



            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
          
    
          <form action="/admin/informar-atividade/{$atividade.idAtividades}"  enctype="multipart/form-data" method="post" class="row">
    
    
            <div class="form-group col-md-3">
              <label for="exampleInputNomeArquivo">Tipo Atividade</label>
              <select name="intTipoAtividade" id="selectAtividades" class="form-control">
                <option value="">SELECIONE</option>
                <option value="6">Adicionar arquivos (PDF, WORD, IMAGENS)</option>
                <option value="5">Fazer no Caderno</option>
                <option value="1">História</option>
                <option value="2">Livro</option>
                <option value="3">Música</option>
                <option value="4">Vídeo</option>
              </select>

            </div>
    
            


            <div class="form-group col-md-4" id="descricaoArquivo">
              <label for="exampleInputNomeArquivo">Descrição do Arquivo</label>
              <textarea name="txtDescricaoArquivo" class="form-control" rows="3"></textarea>
            </div>


            <div class="form-group col-md-4" id="anexoArquivo">
              <label for="exampleInputNomeArquivo">Anexar Arquivo</label> <br>
              <input type="file" name="arquivo">
            </div>



            <div class="form-group col-md-4" id="descricaoCaderno">
              <label for="exampleInputNomeArquivo">Descrição Atividade Caderno</label>
              <textarea name="txtDescricaoCaderno" class="form-control" rows="3"></textarea>
            </div>
    
    
    
            <div class="form-group col-md-3" id="nomeHistoria">
              <label for="exampleInputNomeArquivo">Nome História</label>
              <input type="text" name="txtNomeHistoria" class="form-control" id="">
            </div>
    
            <div class="form-group col-md-3" id="descricaoHistoria">
              <label for="exampleInputNomeArquivo">Descrição História</label>
              <textarea name="txtDescricaoHistoria" class="form-control" rows="3"></textarea>
            </div>
    
    
          
            <div class="form-group col-md-3" id="nomeLivro">
              <label for="exampleInputNomeArquivo">Nome do Livro</label>
              <input type="text" name="txtNomeLivro" class="form-control" id="">
            </div>
    
            <div class="form-group col-md-3" id="paginaLivro">
              <label for="exampleInputNomeArquivo">Páginas</label>
              <input type="text" name="txtPagina" class="form-control" id="">
            </div>
    
            <div class="form-group col-md-3" id="descricaoLivro">
              <label for="exampleInputNomeArquivo">Descrição</label>
              <textarea name="txtDescricaoLivro" class="form-control" rows="3"></textarea>
            </div>
    
    
    
    
            <div class="form-group col-md-3" id="nomeVideo">
              <label for="exampleInputNomeArquivo">Nome do Vídeo</label>
              <input type="text" name="txtNomeVideo" class="form-control" id="">
            </div>
    
            <div class="form-group col-md-3" id="linkVideo">
              <label for="exampleInputNomeArquivo">Link do Vídeo</label>
              <input type="text" name="txtLinkVideo" class="form-control" id="">
            </div>
    
            <div class="form-group col-md-3" id="descricaoVideo">
              <label for="exampleInputNomeArquivo">Descrição Vídeo</label>
              <textarea name="txtDescricaoVideo" class="form-control" rows="3"></textarea>
            </div>
       
            
    
            <div class="form-group col-md-3" id="nomeMusica">
              <label for="exampleInputNomeArquivo">Nome da Música</label>
              <input type="text" name="txtNomeMusica" class="form-control" id="">
            </div>
    
            <div class="form-group col-md-3" id="linkMusica">
              <label for="exampleInputNomeArquivo">Link da Música</label>
              <input type="text" name="txtLinkMusica" class="form-control" id="">
            </div>
    
            <div class="form-group col-md-3" id="descricaoMusica">
              <label for="exampleInputNomeArquivo">Descrição Música</label>
              <textarea name="txtDescricaoMusica" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group col-md-3">
              <label for=""></label>
              <input type="submit" value="Cadastrar" class="btn btn-info form-control">
            </div>
           
          </form>
    
          </div>
          </div>


            {if="$listaAtividades"}
            <div class="col-md-12">
              <h2>Atividades</h2>
              <table class="table mt-3">
                <thead>
                  <tr>
                    <th >Tipo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$listaAtividades"}
               
                  <tr>
                    {if="$value.intTipo==1"}<td>História</td>{/if}
                    {if="$value.intTipo==2"}<td>Livro</td>{/if}
                    {if="$value.intTipo==3"}<td>Música</td>{/if}
                    {if="$value.intTipo==4"}<td>Vídeo</td>{/if}
                    {if="$value.intTipo==5"}<td>Fazer no Caderno</td>{/if}
                    {if="$value.intTipo==6"}<td>Arquivos</td>{/if}
                    <td><a href="/removerAtividade/{$value.idAtividade}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
                  </tr>
                  
                  {/loop}
                  
  
          
                </tbody>
              </table>
            </div>
            {else}
            <div class="col-12">
              <br>
              <h1>Não foram encontradas atividades cadastradas!</h1>
            </div>
            {/if}
            </div>


            

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
       
    </section>

    <section class="content">
      <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        
      </div>
    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
</body>
</html>
