

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cadastro Servidores</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/servidores/{$servidor.idServidores}">
                <div class="card-body row">
                  <div class="form-group col-md-2">
                    <label for="exampleInputName">Código INEP</label>
                    <input type="text" class="form-control" value="{$servidor.txtInep}" id="exampleInputName" name="txtInep">
                  </div>
                  <div class="col-md-3 form-group">
                    <label for="exampleInputName">CPF</label>
                    <input type="text" class="form-control" value="{$servidor.txtCpf}" id="exampleInputName" name="txtCPF">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="exampleInputName">Nome Completo</label>
                    <input type="text" class="form-control" id="exampleInputName" name="txtNome" value="{$servidor.txtNome}" placeholder="Nome Completo">
                  </div>

                  <div class="col-md-3 form-group">
                    <label for="">Data de nascimento</label>
                    <input type="date" name="dtDataNascimento" value="{$servidor.dtDataNascimento}" class="form-control" id="">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Telefone</label>
                    <input type="tel" class="form-control" id="exampleInputTelefone" name="txtTelefone" value="{$servidor.txtTelefone}" placeholder="(37) 9999 - 9999">
                  </div>


                  <div class="col-md-4">
                    <label for="exampleInputEndereco">Filiação 1</label>
                    <input type="text" class="form-control" id="exampleInputEndereco" value="{$servidor.txtFiliacaoUm}" name="txtFiliacaoUm">
                  </div>
                  <div class="col-md-4">
                    <label for="">Filiação 2</label>
                    <input type="text" name="txtFiliacaoDois" class="form-control" value="{$servidor.txtFiliacaoDois}" id="">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Cor/Raça</label>
                    <select name="txtRaca" class="form-control">
                      <option value=""></option>
                      <option value="1" {if="$servidor.intRaca==1"}selected{/if}>Branca</option>
                      <option value="2" {if="$servidor.intRaca==2"}selected{/if}>Preta</option>
                      <option value="3" {if="$servidor.intRaca==3"}selected{/if}>Parda</option>
                      <option value="4" {if="$servidor.intRaca==4"}selected{/if}>Amarela</option>
                      <option value="5" {if="$servidor.intRaca==5"}selected{/if}>Negra</option>

                      <option value="6" {if="$servidor.intRaca==6"}selected{/if}>Indígena</option>
                      <option value="7" {if="$servidor.intRaca==7"}selected{/if}>Não declarado</option>
                    </select>
                    
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Sexo</label>
                    <select name="intSexo" class="form-control">
                      <option value=""></option>
                      <option value="1" {if="$servidor.intSexo==1"}selected{/if}>Feminino</option>
                      <option value="2" {if="$servidor.intSexo==2"}selected{/if}>Masculino</option>
                    </select>
                    
                  </div>


                  <div class="form-group col-md-2">
                    <label for="exampleInputTelefone">Local moradia</label>
                    <select name="intZona" class="form-control">
                      <option value="1">Urbano</option>
                      <option value="2">Rural</option>
                    </select>
                    
                  </div>

                  <div class="form-group col-md-4">
                    <label for="exampleInputName">Município naturalidade</label>
                    <input type="text" class="form-control" id="exampleInputName" name="txtMunicipioNascimento">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="exampleInputName">Município moradia atual</label>
                    <input type="text" class="form-control" id="exampleInputName" name="txtMunicipio">
                  </div>


                  <div class="form-group col-md-5">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" readonly id="exampleInputEmail1" name="txtEmail" value="{$servidor.txtEmail}" placeholder="servidor@gmail.com">
                  </div>

               

                  <div class="form-group col-md-2">
                    <label for="exampleInputTipoAcesso">Tipo de Acesso</label>

                    <select name="intTipoAcesso" class="form-control">
                      <option value="">SELECIONE</option>
                      <option value="1" {if="$servidor.intTipoAcesso ==1"}selected{/if}>Secretaria de Educação</option>
                      <option value="2" {if="$servidor.intTipoAcesso ==2"}selected{/if}>Secretários Escola</option>
                      <option value="3" {if="$servidor.intTipoAcesso ==3"}selected{/if}>Professores</option>
                      <option value="4" {if="$servidor.intTipoAcesso ==4"}selected{/if}>Supervisores</option>
                      <option value="5" {if="$servidor.intTipoAcesso ==5"}selected{/if}>Direção</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for=""></label>
                    <input type="submit" value="ATUALIZAR" class="btn btn-primary form-control">
                  </div>
                </div>
                <!-- /.card-body -->
               
                
              </form>
            </div>
            <!-- /.card -->

         

       

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


