
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Blog</h1>
          </div><!-- /.col -->
         
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section>
      <div class="container-fluid">

        <!-- Small boxes (Stat box) -->
        <div class="row">
          <form action="/admin/blog/{$blog.idBlog}" enctype="multipart/form-data" method="POST" class="form col-md-12">
          <div class="card-body col-sm-12 row">
            <input type="hidden" name="imagem" value="{$blog.txtImagem}">
            <div class="form-group col-md-12">
              <label>Titulo</label>
              <input type="text" name="txtTitulo" value="{$blog.txtTitulo}" required class="form-control" required>
            </div> 

            <div class="form-group col-md-12">
                <label>Resumo</label>
                <textarea name="txtResumo" class="form-control" rows="3">{$blog.txtResumo}</textarea>
               
            </div>

            <div class="form-group col-md-12">
                <label>Postagem</label>
                <textarea name="txtPostagem" class="form-control" rows="8">{$blog.txtPostagem}</textarea>
                
            </div>

            <div class="form-group col-md-6">
              <label for="exampleInputName">Imagem</label><br>
              <input type="file"  id="exampleInputName" name="fotos"  {if="$blog.txtImagem"}disabled{/if} placeholder="Escola">
            </div>

        
    
            <div class="card-footer col-md-12 form-group">
              <button type="submit" class="btn btn-success form-control">Atualizar</button>
            </div>
            {if="$blog.txtImagem"}
            <div class="col-md-12 d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
              <img src="/res/_img/blog/{$blog.txtImagem}" width="200">
              <a href="/admin/removerFotoBlog/{$blog.idBlog}" class="btn btn-danger">Remover <i class="fas fa-trash"></i></a>
            </div>
            {/if}
          </div>

          <!-- /.card-body -->
          <div class="card-footer row col-sm-12 d-flex ">

           
          </div>
        
        </form>
          <!-- ./col -->
        </div>
 
      </div>
    </section>
    <!-- /.content -->
  </div>