
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ficha Desenvolvimento 1º Período -  EVOLUÇÃO DA CRIANÇA NO CONTEXTO ESCOLAR
            </h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/editarFicha/eixo1/{$idTurma}/{$idProfessor}/{$idAluno}/{$semestre}">
                
                <div class="card-body row">
                    <h4>O EU O OUTRO E NÓS
                    </h4>
                  <div class="form-group col-md-12">
                    <label for="exampleInputName">Demonstra que se sente acolhida, segura, amada e respeitada</label>
                    <br>
                <div class="questionsFlex" style="display: flex;">
                    <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                        <input type="radio" name="euOutroNos1" id="11" {if="$ficha.q1 == '0'"}checked{/if} class="form-control" value="0">
                        <label for="11" style="margin:0;">Sim</label>
                    </div>

                    <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                        <input type="radio" name="euOutroNos1" id="12" {if="$ficha.q1 == 1"}checked{/if} class="form-control" value="1">
                        <label for="12" style="margin:0;">Não</label>
                    </div>

                    <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                        <input type="radio" name="euOutroNos1" id="13" {if="$ficha.q1 == 2"}checked{/if} class="form-control" value="2">
                        <label for="13" style="margin:0;">ED</label>
                    </div>
                  
        
                </div>
                      
                   
                </div>



                <div class="form-group col-md-12">
                    <label for="exampleInputName">Comunica e expressa desejos e necessidades</label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos2" id="21" {if="$ficha.q2 == 0"}checked{/if} class="form-control" value="0">
                            <label for="21" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos2" id="22" {if="$ficha.q2 == 1"}checked{/if} class="form-control" value="1">
                            <label for="22" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos2" id="23" {if="$ficha.q2 == 2"}checked{/if} class="form-control" value="2">
                            <label for="23" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Percebe-se o que se passa em sua volta. (espaço físico)</label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos3" id="31" {if="$ficha.q3 == 0"}checked{/if} class="form-control" value="0">
                            <label for="31" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos3" id="32" {if="$ficha.q3 == 1"}checked{/if} class="form-control" value="1">
                            <label for="32" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos3" id="33" {if="$ficha.q3 == 2"}checked{/if} class="form-control" value="2">
                            <label for="33" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
            
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Realiza ações cotidianas com independência.</label>
                    <br>
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos4" {if="$ficha.q4 == 0"}checked{/if} id="41" class="form-control" value="0">
                            <label for="41" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos4" {if="$ficha.q4 == 1"}checked{/if} id="42" class="form-control" value="1">
                            <label for="42" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos4" {if="$ficha.q4 == 2"}checked{/if} id="43" class="form-control" value="2">
                            <label for="43" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>



                <div class="form-group col-md-12">
                    <label for="exampleInputName">Compreende e aceita limites.</label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos5" {if="$ficha.q5 == 0"}checked{/if} id="51" class="form-control" value="0">
                            <label for="51" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos5" {if="$ficha.q5 == 1"}checked{/if}  id="52" class="form-control" value="1">
                            <label for="52" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos5" {if="$ficha.q5 == 2"}checked{/if} id="53" class="form-control" value="2">
                            <label for="53" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Usa as regras essenciais na cortesia.</label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos6" id="61" {if="$ficha.q6 == 0"}checked{/if} class="form-control" value="0">
                            <label for="61" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos6" id="62" {if="$ficha.q6 == 1"}checked{/if} class="form-control" value="1">
                            <label for="62" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos6" id="63" {if="$ficha.q6 == 2"}checked{/if} class="form-control" value="2">
                            <label for="63" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Mostra-se envolvido com as atividades propostas.                  </label>
                    <br>
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos7" id="71" {if="$ficha.q7 == 0"}checked{/if} class="form-control" value="0">
                            <label for="71" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos7" id="72" {if="$ficha.q7 == 1"}checked{/if} class="form-control" value="1">
                            <label for="72" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos7" id="73" {if="$ficha.q7 == 2"}checked{/if} class="form-control" value="2">
                            <label for="73" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Compreende regras e combinados do grupo.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos8" id="81" {if="$ficha.q8 == 0"}checked{/if} class="form-control" value="0">
                            <label for="81" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos8" id="82" {if="$ficha.q8 == 1"}checked{/if} class="form-control" value="1">
                            <label for="82" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos8" id="83" {if="$ficha.q8 == 2"}checked{/if} class="form-control" value="2">
                            <label for="83" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Respeita a rotina da sala de aula                 </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos9" id="91" {if="$ficha.q9 == 0"}checked{/if} class="form-control" value="0">
                            <label for="91" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos9" id="92" {if="$ficha.q9 == 1"}checked{/if} class="form-control" value="1">
                            <label for="92" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos9" id="93" {if="$ficha.q9 == 2"}checked{/if} class="form-control" value="2">
                            <label for="93" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>



                <div class="form-group col-md-12">
                    <label for="exampleInputName">Participa em grupo e tem desempenho nas atividades de jogos e brincadeiras dirigidas. Colabora interagindo com os colegas nos momentos de trabalho em equipe.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos10" id="101" {if="$ficha.q10 == 0"}checked{/if} class="form-control" value="0">
                            <label for="101" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos10" id="12" {if="$ficha.q10 == 1"}checked{/if} class="form-control" value="1">
                            <label for="102" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos10" id="103" {if="$ficha.q10 == 2"}checked{/if} class="form-control" value="2">
                            <label for="103" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Compartilha seus pertences com os colegas.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos11" id="111" {if="$ficha.q11 == 0"}checked{/if} class="form-control" value="0">
                            <label for="111" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos11" id="112" {if="$ficha.q11 == 1"}checked{/if} class="form-control" value="1">
                            <label for="112" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos11" id="113" {if="$ficha.q11 == 2"}checked{/if} class="form-control" value="2">
                            <label for="113" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>



                <div class="form-group col-md-12">
                    <label for="exampleInputName">Demonstra segurança diante de situações desafiadoras.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos12" id="121" {if="$ficha.q12 == 0"}checked{/if} class="form-control" value="0">
                            <label for="121" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos12" id="122" {if="$ficha.q12 == 1"}checked{/if} class="form-control" value="1">
                            <label for="122" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos12" id="123" {if="$ficha.q12 == 2"}checked{/if} class="form-control" value="2">
                            <label for="123" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>



                <div class="form-group col-md-12">
                    <label for="exampleInputName">Identifica seus pertences.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos13" id="131" {if="$ficha.q13 == 0"}checked{/if} class="form-control" value="0">
                            <label for="131" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos13" id="132" {if="$ficha.q13 == 1"}checked{/if} class="form-control" value="1">
                            <label for="132" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos13" id="133" {if="$ficha.q13 == 2"}checked{/if} class="form-control" value="2">
                            <label for="133" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                </div>

                

                <div class="form-group col-md-12">
                    <label for="exampleInputName">É assíduo as aulas.



                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos14" id="141" {if="$ficha.q14 == 0"}checked{/if} class="form-control" value="0">
                            <label for="141" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos14" id="142" {if="$ficha.q14 == 1"}checked{/if} class="form-control" value="1">
                            <label for="142" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos14" id="143" {if="$ficha.q14 == 2"}checked{/if} class="form-control" value="2">
                            <label for="143" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>

                


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Cuida bem de seus pertences.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos15" id="151" {if="$ficha.q15 == 0"}checked{/if} class="form-control" value="0">
                            <label for="151" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos15" id="152" {if="$ficha.q15 == 1"}checked{/if} class="form-control" value="1">
                            <label for="152" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos15" id="153" {if="$ficha.q15 == 2"}checked{/if} class="form-control" value="2">
                            <label for="153" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>

                


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Possui noções básicas de higiene, saúde e alimentos.

                    </label>
                    <br>
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos16" id="161" {if="$ficha.q16 == 0"}checked{/if} class="form-control" value="0">
                            <label for="161" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos16" id="162" {if="$ficha.q16 == 1"}checked{/if} class="form-control" value="1">
                            <label for="162" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos16" id="163" {if="$ficha.q16 == 2"}checked{/if} class="form-control" value="2">
                            <label for="163" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                </div>

                


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Participa, contribui e enriquece os projetos de trabalho.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos17" id="171" {if="$ficha.q17 == 0"}checked{/if} class="form-control" value="0">
                            <label for="171" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos17" id="172" {if="$ficha.q17 == 1"}checked{/if} class="form-control" value="1">
                            <label for="172" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos17" id="173" {if="$ficha.q17 == 2"}checked{/if} class="form-control" value="2">
                            <label for="173" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>



                <div class="form-group col-md-12">
                    <label for="exampleInputName">Participa das atividades desenvolvidas nas datas comemorativas.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos18" id="181" {if="$ficha.q18 == 0"}checked{/if} class="form-control" value="0">
                            <label for="181" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos18" id="182" {if="$ficha.q18 == 1"}checked{/if}  class="form-control" value="1">
                            <label for="182" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos18" id="183" {if="$ficha.q18 == 2"}checked{/if}  class="form-control" value="2">
                            <label for="183" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>



                <div class="form-group col-md-12">
                    <label for="exampleInputName">Identifica e compreende seu espaço social.
                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos19" id="191" {if="$ficha.q19 == 0"}checked{/if}  class="form-control" value="0">
                            <label for="191" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos19" id="192" {if="$ficha.q19 == 1"}checked{/if} class="form-control" value="1">
                            <label for="192" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos19" id="193" {if="$ficha.q19 == 2"}checked{/if} class="form-control" value="2">
                            <label for="193" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>




                <div class="form-group col-md-12">
                    <label for="exampleInputName">Reconhece atividades em favor do meio ambiente.



                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos20" {if="$ficha.q20 == 0"}checked{/if} id="201" class="form-control" value="0">
                            <label for="201" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos20" {if="$ficha.q20 == 1"}checked{/if} id="202" class="form-control" value="1">
                            <label for="202" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos20" {if="$ficha.q20 == 2"}checked{/if} id="203" class="form-control" value="2">
                            <label for="203" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>



                <div class="form-group col-md-12">
                    <label for="exampleInputName">Organiza e cuida de seus pertences.



                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos21" id="211" {if="$ficha.q21 == 0"}checked{/if} class="form-control" value="0">
                            <label for="211" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos21" id="212" {if="$ficha.q21 == 1"}checked{/if} class="form-control" value="1">
                            <label for="212" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos21" id="213" {if="$ficha.q21 == 2"}checked{/if} class="form-control" value="2">
                            <label for="213" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                
                <div class="form-group col-md-12">
                    <label for="exampleInputName">Valoriza e preserva o espaço de sua convivência na escola.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos22" id="221" {if="$ficha.q22 == 0"}checked{/if} class="form-control" value="0">
                            <label for="221" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos22" id="222" {if="$ficha.q22 == 1"}checked{/if} class="form-control" value="1">
                            <label for="222" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos22" id="223" {if="$ficha.q22 == 2"}checked{/if} class="form-control" value="2">
                            <label for="223" style="margin:0;">ED</label>
                        </div>
                      
                       
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" class="btn btn-success form-control" value="ENVIAR">

                </div>

                </div>
                <!-- /.card-body -->

                
              </form>
            </div>

            <!-- /.card -->

         

       

          </div>

        

          
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

