
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>EVOLUÇÃO DA CRIANÇA NO CONTEXTO ESCOLAR</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              {if="$edicao"}
              <form method="POST" action="/admin/editarFicha/{$idEixo}/{$idTurma}/{$idAluno}/{$semestre}">
              {else}
              <form method="POST" action="/admin/responderFicha/{$idEixo}/{$idTurma}/{$idAluno}/{$semestre}">

              {/if}
                <div class="card-body row">
                    <h4>{$infoFicha.txtNomeEixo}
                    </h4>


                  {if="!$perguntaTexto"}




                  
                {loop="$perguntas"}
                  <div class="form-group col-md-12">
                    <label for="exampleInputName">{$value.txtQuestion}</label>
                    <br>
                <div class="questionsFlex" style="display: flex;">
                    
              
                  {loop="$value.conceitos"}
                  <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                    <input type="radio" {if="$value.resposta == 'Sim'"}checked{/if} name="{$value.idQuestion}" id="1{$value.idQuestion}" class="form-control" value="Sim">
                    <label for="1{$value.idQuestion}" style="margin:0;">{$value1.txtConceito}</label>
                </div>


                  {/loop}
                    <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                        <input type="radio" {if="$value.resposta == 'Sim'"}checked{/if} name="{$value.idQuestion}" id="1{$value.idQuestion}" class="form-control" value="Sim">
                        <label for="1{$value.idQuestion}" style="margin:0;">Sim</label>
                    </div>

                    <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                        <input type="radio" {if="$value.resposta == 'Não'"}checked{/if}  name="{$value.idQuestion}" id="2{$value.idQuestion}" class="form-control" value="Não">
                        <label for="2{$value.idQuestion}" style="margin:0;">Não</label>
                    </div>

                    <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                        <input type="radio" {if="$value.resposta == 'ED'"}checked{/if}  name="{$value.idQuestion}" id="3{$value.idQuestion}" class="form-control" value="ED">
                        <label for="3{$value.idQuestion}"  style="margin:0;">ED</label>
                    </div>

                    <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                        <input type="radio" {if="$value.resposta == 'NA'"}checked{/if}  name="{$value.idQuestion}"  id="4{$value.idQuestion}" class="form-control" value="NA">
                        <label for="4{$value.idQuestion}" style="margin:0;">NA</label>
                    </div>
                  
        
                </div>
                      
                   
                </div>

                {/loop}
{else}
   <div class="form-group col-md-12">
   
      <textarea name="txtResposta" id="" class="form-control">{if="$edicao"}{$edicao}{/if}</textarea>
   </div>               

{/if}






             
                <div class="form-group col-md-12">
                    <input type="submit" class="btn btn-success form-control" value="ENVIAR">

                </div>

                </div>
                <!-- /.card-body -->

                
              </form>
            </div>

            <!-- /.card -->

         

       

          </div>

        

          
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

