
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ficha Desenvolvimento 1º Período -  EVOLUÇÃO DA CRIANÇA NO CONTEXTO ESCOLAR
            </h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/adicionarFicha/eixo2/{$idTurma}/{$idProfessor}/{$idAluno}/{$semestre}">
                
                <div class="card-body row">
                    <h4>ESCUTA, FALA, PENSAMENTO E IMAGINAÇÃO

                    </h4>
                  <div class="form-group col-md-12">
                    <label for="exampleInputName">Reconhece e grafa seu primeiro nome.</label>
                    <br>
                <div class="questionsFlex" style="display: flex;">
                    <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                        <input type="radio" name="euOutroNos1" id="11" class="form-control" value="0">
                        <label for="11" style="margin:0;">Sim</label>
                    </div>

                    <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                        <input type="radio" name="euOutroNos1" id="12" class="form-control" value="1">
                        <label for="12" style="margin:0;">Não</label>
                    </div>

                    <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                        <input type="radio" name="euOutroNos1" id="13" class="form-control" value="2">
                        <label for="13" style="margin:0;">ED</label>
                    </div>
                  
        
                </div>
                      
                   
                </div>



                <div class="form-group col-md-12">
                    <label for="exampleInputName">Escuta atentamente demonstrando compreensão.</label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos2" id="21" class="form-control" value="0">
                            <label for="21" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos2" id="22" class="form-control" value="1">
                            <label for="22" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos2" id="23" class="form-control" value="2">
                            <label for="23" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Estabelece diferenças entre letras, números, desenhos e símbolos.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos3" id="31" class="form-control" value="0">
                            <label for="31" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos3" id="32" class="form-control" value="1">
                            <label for="32" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos3" id="33" class="form-control" value="2">
                            <label for="33" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
            
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Faz leitura incidental de rótulos, propagandas, textos, etc.</label>
                    <br>
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos4" id="41" class="form-control" value="0">
                            <label for="41" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos4" id="42" class="form-control" value="1">
                            <label for="42" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos4" id="43" class="form-control" value="2">
                            <label for="43" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>



                <div class="form-group col-md-12">
                    <label for="exampleInputName">Compreende e executa sequência de ordens, ordena e reconta histórias de 3 episódios.

                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos5" id="51" class="form-control" value="0">
                            <label for="51" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos5" id="52" class="form-control" value="1">
                            <label for="52" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos5" id="53" class="form-control" value="2">
                            <label for="53" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Compreende e interpreta histórias.</label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos6" id="61" class="form-control" value="0">
                            <label for="61" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos6" id="62" class="form-control" value="1">
                            <label for="62" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos6" id="63" class="form-control" value="2">
                            <label for="63" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Representa suas ideias por meio de desenhos ou outras formas de registro.
                        </label>
                    <br>
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos7" id="71" class="form-control" value="0">
                            <label for="71" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos7" id="72" class="form-control" value="1">
                            <label for="72" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos7" id="73" class="form-control" value="2">
                            <label for="73" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Identifica as letras do alfabeto apresentadas e as reconhece em outros materiais impressos.



                    </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos8" id="81" class="form-control" value="0">
                            <label for="81" style="margin:0;">Sim</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos8" id="82" class="form-control" value="1">
                            <label for="82" style="margin:0;">Não</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos8" id="83" class="form-control" value="2">
                            <label for="83" style="margin:0;">ED</label>
                        </div>
                      
            
                    </div>
                   
                </div>


                <div class="form-group col-md-12">
                    <label for="exampleInputName">Encontra-se no nível:                </label>
                    <br>
                
                    <div class="questionsFlex" style="display: flex;">
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos9" id="91" class="form-control" value="0">
                            <label for="91" style="margin:0;">garatuja</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos9" id="92" class="form-control" value="1">
                            <label for="92" style="margin:0;">pré silábico</label>
                        </div>
    
                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos9" id="93" class="form-control" value="2">
                            <label for="93" style="margin:0;">silábico</label>
                        </div>

                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos9" id="94" class="form-control" value="3">
                            <label for="94" style="margin:0;">silábico alfabético</label>
                        </div>

                        <div class="form-group" style="display: flex; align-items: center; margin-right: 20px;">
                            <input type="radio" name="euOutroNos9" id="95" class="form-control" value="4">
                            <label for="95" style="margin:0;">alfabético</label>
                        </div>
                      
            
                    </div>
                   
                </div>




                <div class="form-group col-md-12">
                    <input type="submit" class="btn btn-success form-control" value="ENVIAR">

                </div>

                </div>
                <!-- /.card-body -->

                
              </form>
            </div>

            <!-- /.card -->

         

       

          </div>

        

          
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

