

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ficha de avaliação</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="col-12 card card-primary">
                <div class="row">
                  <div class="col-md-3">
                    <a href="/admin/fichasDesenvolvimento/eixo1/{$idTurma}?semestre={$semestre}" class="btn btn-primary form-control"> O eu, o outro e o nós</a>
                   
                </div>

                <div class="col-md-3">
                  <a href="/admin/fichasDesenvolvimento/eixo2/{$idTurma}?semestre={$semestre}" class="btn btn-primary form-control">
                  Escuta,fala,pensamento e imaginação
                </a>
                 </div>

                 <div class="col-md-3">
                  <a href="/admin/fichasDesenvolvimento/eixo3/{$idTurma}?semestre={$semestre}" class="btn btn-primary form-control">
                    Espaços, tempos, quantidades, relações e transformações
                </a>
                 </div>

                 <div class="col-md-3">
                  <a href="/admin/fichasDesenvolvimento/eixo4/{$idTurma}?semestre={$semestre}" class="btn btn-primary form-control">
                    Corpo, gestos e movimentos
                </a>
                 </div>

                </div>
                <br/>
                <br/>

                <div class="row">
                  <div class="col-md-3">
                    <a href="/admin/fichasDesenvolvimento/eixo5/{$idTurma}?semestre={$semestre}" class="btn btn-primary form-control">
                      Traços, sons, cores e formas
  
                  </a>
                   </div>

                   <div class="col-md-3">
                    <a href="/admin/fichasDesenvolvimento/eixo6/{$idTurma}?semestre={$semestre}" class="btn btn-primary form-control">
                      Observações
  
                  </a>
                   </div>

                   <div class="col-md-3">
                    <a href="/admin/fichaDesenvolvimento/{$idTurma}?semestre={$semestre}" class="btn btn-primary form-control">
                      Visualizar Fichas
  
                  </a>
                   </div>
                </div>
                 
                
               
  
          
            </div>
            <!-- /.card -->

         

       

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


