
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ficha Desenvolvimento 1º Período -  EVOLUÇÃO DA CRIANÇA NO CONTEXTO ESCOLAR
            </h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/adicionarFicha/eixo6/{$idTurma}/{$idProfessor}/{$idAluno}/{$semestre}">
                
                <div class="card-body row">
                    <h4>OBSERVAÇÕES

                    </h4>
                  <div class="form-group col-md-12">
                    <textarea name="txtObservacao" id="" class="form-control" rows="10"></textarea>
                    
                </div>



                <div class="form-group col-md-12">
                    <input type="submit" class="btn btn-success form-control" value="ENVIAR">

                </div>

                </div>
                <!-- /.card-body -->

                
              </form>
            </div>

            <!-- /.card -->

         

       

          </div>

        

          
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

