<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
 
  <!-- /.content-header -->

  <!-- Main content -->
  <section>
    <div class="container-fluid">


      <!-- /.card-body -->
      <div class="card-body row col-sm-12 d-flex align-items-end">

        <div class="col-sm-1">
          <a href="/admin/turmas/{$turma}" class="btn btn-success form-control">Voltar</a>
        </div>
        <br><br>
        <div class="titulo col-12">
          <span style="font-size: 26px; font-weight: bold; margin-top: 10px;">{$aluno.txtNome}</span>
        </div>

    
        {loop="$bimestresFinalizados"}
          <div class="col-12" style="margin-top: 30px;">
            {loop="$value"}
            {if="$counter == 0"}
              <h4>{$value}</h4>
              {else}
              <span>{$value}</span><br>
            {/if}

            {/loop}
          </div>
        {/loop}

        {if="$bimestreAtual"}
        <div class="col-12" style="margin-top: 30px;">
        <h4>Bimestre Atual</h4>
        {loop="$bimestreAtual"}
        
          {loop="$value"}
            <span>{$value}</span><br>
          {/loop}
        </div>
      {/loop}
        {/if}
        <!-- ./col -->
      </div>

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->