 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Usuários Cadastrados</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section>
      <div class="container-fluid">
        
        
          <!-- /.card-body -->
          <div class="card-body row col-sm-12 d-flex align-items-end">
            <!-- <div class="busca col-sm-10">
              <form action="/admin/produtos" class="form d-flex align-items-end">
                <div class="form-group">
                  <label>Busca</label>
                  <input type="text" name="busca" class="form-control">
                </div>
                <div>
                <input type="submit" value="Buscar" class="btn btn-primary">
              </div>
              </form>
            </div> -->
              <div class="col-sm-2">
                <a href="/admin/cadastrar-usuarios" class="btn btn-success">Cadastrar Usuários</a> 
            </div>
         


          

            {if="$usuarios"}
            <table class="table mt-3 mb-5">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Escola</th>
                  <th scope="col">E-mail</th>
                  <th scope="col"></th>
                  <th></th>

                </tr>
                
              </thead>
              <tbody>
                {loop="$usuarios"}
             
                <tr>
                  <td>{$value.nomeUsuario}</td>
                  <td>{$value.nomeEscola}</td>
                  <td>{$value.txtEmail}</td>
                  <td class="botao"><a href="/admin/turmas/{$value.idTurma}"><button class="btn btn-primary btn-sm">Acessar <i class="fas fa-edit"></i></button></a></td>
                  {if="$permissaoMenu == 2"}<td class="botao"><a href="/SSBordados-admin/ofertas/delete/"><button class="btn btn-danger btn-sm">Deletar <i class="fas fa-trash"></i></button></a></td>{/if}
                </tr>
               
                {/loop}
               

        
              </tbody>
            </table>
            {else}
            <div class="col-12">
              <br>
              <h1>Não foram encontradas usuários cadastrados!</h1>
            </div>
          
            {/if}
            
           
          <!-- ./col -->
        </div>
 
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->