 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Relatório de Alunos por Turma</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section>
      <div class="container-fluid">
        
        
          <!-- /.card-body -->
          <div class="card-body row col-sm-12 d-flex align-items-end">
            <!-- <div class="busca col-sm-10">
              <form action="/admin/produtos" class="form d-flex align-items-end">
                <div class="form-group">
                  <label>Busca</label>
                  <input type="text" name="busca" class="form-control">
                </div>
                <div>
                <input type="submit" value="Buscar" class="btn btn-primary">
              </div>
              </form>
            </div> -->
          
            
            {if="$turma"}

            {loop="$turma"}
            <br/><br/>
            <h3>{$value.nomeEscola}</h3>

            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Professor Regente</th>
                  <th scope="col">Alunos</th>
                  <th></th>
                  
                </tr>
                
              </thead>
              <tbody>
            
                {loop="$value.turmas"}
                <tr>
                  <td>{$value.nomeTurma}</td>
                  <td>{$value.nomeProfessor}</td>
                  <td>{$value.qtde}</td>
                  <td class="botao"><a href="/admin/turmas/{$value.idTurma}"><button class="btn btn-primary btn-sm">Acessar <i class="fas fa-edit"></i></button></a></td>
                </tr>
                {/loop}
               
               
               

        
              </tbody>
            </table>
            
            {/loop}
            {else}
            <div class="col-12">
              <br>
              <h1>Não foram encontradas turmas cadastradas!</h1>
            </div>
          
            {/if}
            
          <!-- ./col -->
        </div>
 
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->