<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section>
    <div class="container-fluid" >


      <!-- /.card-body -->
      <div class="card-body row col-sm-12 d-flex align-items-end">

        <div class="col-sm-1">
          <a href="/admin/alunosturma/{$turma}" class="btn btn-success form-control">Voltar</a>
        </div>
      
        <br><br>

        <div class="container-fluid" style="margin-top: 30px;">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Avaliações Retroativas</h1>
            </div><!-- /.col -->
            <div class="col-sm-3">
              <a href="/admin/cadastrar-retroativo/{$turma}/{$aluno}" class="btn btn-success form-control">Cadastrar Avaliações</a>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      

     
        {if="$avaliacoes"}

        <table class="table mt-3">
          <thead>
            <tr>
              <th>Disciplina</th>
              <th>Bimestre</th>
              <th>Nota</th>
              <th>Conceito</th>
            
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {loop="$avaliacoes"}

            <tr>
              <td>{$value.txtNomeDisciplina}</td>
              <td>{$value.nomeBimestre}</td>
              <td>{$value.intNota}</td>
              <td>{$value.intConceito}
              </td>
          
              <td class="botao"><a href="/admin/editar-avaliacao-retroativa/{$value.idRetroativo}"><button
                    class="btn btn-primary btn-sm">Acessar <i class="fas fa-edit"></i></button></a></td>
              <td class="botao"><a href="/admin/deletar-avaliacao-retroativa/{$turma}/{$aluno}/{$value.idRetroativo}"><button
                onclick="return confirm('Deseja realmente excluir este registro?')" 
                    class="btn btn-danger btn-sm">Deletar <i class="fas fa-trash"></i></button></a></td>
            </tr>


            {/loop}



          </tbody>
        </table>
        {else}
        <div class="col-12">
          <br>
          <h3>Não foram encontradas avaliações cadastradas!</h3>
        </div>

        {/if}


        <div class="container-fluid" style="margin-top: 30px;">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Frequência Retroativa</h1>
            </div><!-- /.col -->
            <div class="col-sm-3">
              <a href="/admin/cadastrar-frequenciaRetroativo/{$turma}/{$aluno}" class="btn btn-success form-control">Cadastrar Frequência</a>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        {if="$presencas"}

        <table class="table mt-3">
          <thead>
            <tr>
              <th>Bimestre</th>
              {if="$cargaDisciplina"}
              <th>Disciplinas</th>
              {/if}
              <th>Faltas</th>
              
            
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {loop="$presencas"}

            <tr>
       
              <td>{$value.nomeBimestre}</td>
              {if="$cargaDisciplina"}
              <td>{$value.txtNomeDisciplina}</td>
              {/if}
              

              {if="$cargaDisciplina"}
              <td>{$value.horasFaltas}:{$value.minutosFaltas}</td>
              {else}
              <td>{$value.numFaltas}</td>
            {/if}
            
          
          
              <td class="botao">
                {if="$cargaDisciplina"}
                {$value.horasTotal}:{$value.minutosTotal}
              {/if}


              </td>
              <td class="botao"><a href="/admin/deletar-frequencia-retroativa/{$turma}/{$aluno}/{$value.idRetroativo}"><button
                onclick="return confirm('Deseja realmente excluir este registro?')" 
                    class="btn btn-danger btn-sm">Deletar <i class="fas fa-trash"></i></button></a></td>
            </tr>


            {/loop}



          </tbody>
        </table>
        {else}
        <div class="col-12">
          <br>
          <h3>Não foram encontradas frequências cadastradas!</h3>
        </div>

        {/if}
        <!-- ./col -->
      </div>

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->