 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Atribuir Nota</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section>
      <div class="container-fluid">
        
        
          <!-- /.card-body -->
          <div class="card-body row col-sm-12 d-flex align-items-end">
            <!-- <div class="busca col-sm-10">
              <form action="/admin/produtos" class="form d-flex align-items-end">
                <div class="form-group">
                  <label>Busca</label>
                  <input type="text" name="busca" class="form-control">
                </div>
                <div>
                <input type="submit" value="Buscar" class="btn btn-primary">
              </div>
              </form>
            </div> -->
         


        
            <table class="table mt-3">
              <form action="/admin/atribuirNotasRecuperacaoAnual/avaliacao/{$avaliacao}" method="POST">
                <input type="hidden" name="turma" value="{$turma}">
                <input type="hidden" name="alunos" value="{$alunos}">
                <thead>
                <tr>
                  <th scope="col">Aluno</th>
                  <th scope="col"></th>
                 
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {loop="$notas"}
                
                <tr>
                  <td><label> {$value.nomeAluno}</label></td>
                  {if="$disciplina.intTipoAvaliacao == 1"}
                  <td><div class="row"><div class="col-3">
                    <input type="number" class="form-control" pattern="[0-9]+([,\.][0-9]+)?" step="any" style="width: 100px" min="0" max="{$value.notaProva}" value="{$value.nota}" name="notas[]" id="">
                  </div></div></td>
                  {else}
                  <td><div class="row"><div class="col-3">
                    <select name="conceitos:{$value.idAluno}" class="form-control" style="width: 300px;" id="">
                      <option value="1" {if="$value.conceito == 1"}selected{/if}>Atingiu os objetivos</option>
                      <option value="2" {if="$value.conceito == 2"}selected{/if}>Atingiu parcialmente os objeticos</option>
                      <option value="3" {if="$value.conceito == 3"}selected{/if}>Não atingiu os objetivos</option>

                    </select>
                  </div></div></td>
                  {/if}
                 <td></td>
                 <td></td>
                </tr>
               
                {/loop}
               

        
              </tbody>
              <div class="col-md-1">
                <a href="/admin/recuperacaoAnual/{$turma}" class="btn btn-info">Voltar</a>
              </div>
              

              
              
            
            </table>
          
          
          <!-- ./col -->
        </div>
        <div class="col-12">
          <input type="submit" value="ENVIAR" class="btn btn-success form-control">
        </div>
      </form>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->