 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Disciplinas - Cadastradas</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section>
      <div class="container-fluid">
        
        
          <!-- /.card-body -->
          <div class="card-body row col-sm-12 d-flex align-items-end">
          
            <div class="col-sm-2">
                <a href="/admin/cadastrar-disciplinas" class="btn btn-success">Cadastrar Disciplinas</a> 
                        </div>

            {if="$disciplinas"}
            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {loop="$disciplinas"}
             
                <tr>
                  <td>{$value.txtNomeDisciplina}</td>
              
                  <td class="botao"><a href="/admin/disciplinas/{$value.idDisciplina}"><button class="btn btn-primary btn-sm">Acessar <i class="fas fa-edit"></i></button></a></td>
                  <td class="botao"><a href="/admin/deletarDisciplina/{$value.idDisciplina}"><button class="btn btn-danger btn-sm">Deletar <i class="fas fa-trash"></i></button></a></td>
                </tr>
               
                {/loop}
               


        
              </tbody>
            </table>
            {else}
            <div class="col-12">
              <br>
              <h1>Não foram encontradas semanas cadastradas!</h1>
            </div>
          
            {/if}
            
          <!-- ./col -->
        </div>
 
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->