 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Supervisionar</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section>
      <div class="container-fluid">
        
        <div class="col-sm-1">
          <a href="/admin/supervisionarTurmas/escolas/{$escola}" class="btn btn-success form-control">Voltar</a>
        </div>
        
          <!-- /.card-body -->
          <div class="card-body row col-sm-12 d-flex align-items-end">
            <!-- <div class="busca col-sm-10">
              <form action="/admin/produtos" class="form d-flex align-items-end">
                <div class="form-group">
                  <label>Busca</label>
                  <input type="text" name="busca" class="form-control">
                </div>
                <div>
                <input type="submit" value="Buscar" class="btn btn-primary">
              </div>
              </form>
            </div> -->
           

            {if="$turmasSupervisor"}
            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Professores</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {loop="$turmasSupervisor"}
             
                <tr>
                  <td>{$value.txtNome}</td>
                  <td></td>
                  <td></td>
                  <td class="botao"><a href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma}/professor/{$value.idServidores}"><button class="btn btn-primary btn-sm">Acessar <i class="fas fa-edit"></i></button></a></td>
                </tr>
               
                {/loop}
               

        
              </tbody>
            </table>

            <a class="btn btn-primary" href="/admin/supervisionarTurmas/fichaIndividual/escola/{$escola}/turma/{$turma}">Ficha Individual</a>
            {else}
            <div class="col-12">
              <br>
              <h1>Não foram encontrados servidores cadastrados!</h1>
            </div>
          
            {/if}
            
          <!-- ./col -->
        </div>
 
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->