<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Eixos de avaliação</h1>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="col-12 card card-primary">
            <div class="row">

              
              {loop="$listEixos"}
              <div class="col-md-3" style="margin-bottom: 20px">
                <a href="/admin/fichasDesenvolvimento/{$value.idEixo}/{$idTurma}?semestre={$semestre}"
                  class="btn btn-primary form-control">
                  {$value.txtNomeEixo}
                </a>
              </div>
              {/loop}


              <div class="col-md-3" style="margin-bottom: 20px">
               <!----> <a target="_blank" href="/admin/imprimir-ficha-avaliacoes/periodo/{$idTurma}?semestre={$semestre}"
                  class="btn btn-primary form-control">
                  Imprimir Ficha
                </a>
              </div>
              


            </div>
          </div>
          <!-- /.card -->





        </div>
        <!--/.col (left) -->
        <!-- right column -->

        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->