 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Presença Aula</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section>
      <div class="container-fluid">
        
        
          <!-- /.card-body -->
          <div class="card-body row col-sm-12 d-flex align-items-end">
            <!-- <div class="busca col-sm-10">
              <form action="/admin/produtos" class="form d-flex align-items-end">
                <div class="form-group">
                  <label>Busca</label>
                  <input type="text" name="busca" class="form-control">
                </div>
                <div>
                <input type="submit" value="Buscar" class="btn btn-primary">
              </div>
              </form>
            </div> -->
         


        
            <table class="table mt-3">
              <form action="/admin/listaPresenca/{$id}" method="POST">
              <thead>
                <tr>
                  <th scope="col">Aluno</th>
                  <th scope="col"></th>
                 
                  <th>Sem Transporte</th>
                  <th>Atestado Médico</th>
                </tr>
              </thead>
              <tbody>
                {loop="$presencas"}
             
                <tr>
                  <td><label for="{$value.fkAluno}"> {$value.txtNome}</label></td>
                  <td><label class="switch">
                    <input type="checkbox" name="cbPresenca[]" id="{$value.fkAluno}" value="{$value.fkAluno}" {if="$value.boolPresenca"}checked{/if}>
                    <span class="slider round"></span>
                  </label></td>
                  <td><input type="checkbox" name="cbTransporte[]" id="" value="{$value.fkAluno}" {if="$value.transporte"}checked{/if}></td>
                  <td><input type="checkbox" name="cbAtestado[]" id="" value="{$value.fkAluno}" {if="$value.atestado"}checked{/if}></td>
                </tr>
               
                {/loop}
               

        
              </tbody>
              <div class="col-md-1">
                <a href="/admin/editar-aulas/{$id}" class="btn btn-info">Voltar</a>
              </div>
              

              
              
            
            </table>
          
          
          <!-- ./col -->
        </div>
        <div class="col-12">
          <input type="submit" value="ENVIAR" class="btn btn-success form-control">
        </div>
      </form>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->