
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Organização escolar</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/organizacaoEscolar" >
                <div class="card-body row">
                  <div class="form-group col-md-4">
                  <h5 for="exampleInputName">Número de salas de aula utilizadas na escola dentro do prédio escolar</h5>
                  <div class="col-md-12">
                    <input type="number" {if="$organizacao"}value="{$organizacao.intSalasAula}"{/if} name="salasAula" class="form-control" id="exampleInputName" placeholder="Digite o número de salas de aula">
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <h5 for="exampleInputName">Número de salas de aula climatizadas (ar condicionado, aquecedor ou climatizador)</h5>
                  <div class="col-md-12">
                    <input type="number"  {if="$organizacao"}value="{$organizacao.intSalasClimatizadas}"{/if} name="salasClimatizadas" class="form-control" id="exampleInputName" placeholder="Digite o número de salas de aula">
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <h5 for="exampleInputName"> Número de salas de aula com acessibilidade para pessoas com deficiência ou mobilidade reduzida</h5>
                  <div class="col-md-12">
                    <input type="number" {if="$organizacao"}value="{$organizacao.intSalasAcessibilidade}"{/if} name="salasAcessibilidade" class="form-control" id="exampleInputName" placeholder="Digite o número de salas de aula">
                  </div>
                </div>

                 


                  <h5 for="exampleInputName">Recursos de acessibilidade para pessoas com deficiência ou mobilidade reduzida nas vias de circulação internas na escola</h5>
                  
                  <div class="form-group col-md-12 row">
                    {if="$acessibilidade"}
                    {loop="$acessibilidade"}
                    <div class="col-md-4">
                      <label for="{$value.acessibilidade}">
                      <input type="checkbox"  name="acessibilidade[]" {if="$value.existe"}checked{/if} id="{$value.acessibilidade}" value="{$value.acessibilidade}" class="">
                   {$value.acessibilidade}
                    </label>
                    </div>

                    {/loop}
                    {/if}                      
                  </div>


                 



                  <h5 for="exampleInputName">Instrumentos e materiais socioculturais e/ou pedagógicos em uso na escola para desenvolvimento de atividades de ensino e aprendizagem</h5>
                  
                  <div class="form-group col-md-12 row">
                    {if="$instrumentos"}
                    {loop="$instrumentos"}
                    <div class="col-md-4">
                      <label for="{$value.instrumento}">
                      <input type="checkbox" name="organizacaoEscolar[]" {if="$value.existe"}checked{/if} id="{$value.instrumento}" value="{$value.instrumento}" class="">
                   {$value.instrumento}
                    </label>
                    </div>

                    {/loop}
                    {/if}                      
                  </div>

                  <h5 for="exampleInputName">Equipamentos existentes na escola para uso técnico e administrativo</h5>
                  
                  <div class="form-group col-md-12 row">
                    {if="$equipamentosTecnicos"}
                    {loop="$equipamentosTecnicos"}
                    <div class="col-md-4">
                      <label for="{$value.equipamentoTecnico}">
                      <input type="checkbox" name="equipamentoTecnico[]" {if="$value.existe"}checked{/if} id="{$value.equipamentoTecnico}" value="{$value.equipamentoTecnico}" class="">
                   {$value.equipamentoTecnico}
                    </label>
                    </div>

                    {/loop}
                    {/if}                      
                  </div>



                  <h5 for="exampleInputName">Quantidade de computadores em uso pelos alunos</h5>
                  
                  <div class="form-group col-md-12 row">
                    {if="$computadoresAlunos"}
                    {loop="$computadoresAlunos"}
                    <div class="col-md-4">
                      <label for="{$value.computador}">
                      <input type="checkbox" name="computadoresAlunos[]" {if="$value.existe"}checked{/if} id="{$value.computador}" value="{$value.computador}" class="">
                   {$value.computador}
                    </label>
                    </div>

                    {/loop}
                    {/if}                      
                  </div>




                  <h5 for="exampleInputName">Rede local de interligação de computadores</h5>
                  
                  <div class="form-group col-md-12 row">
                    {if="$redeLocal"}
                    {loop="$redeLocal"}
                    <div class="col-md-4">
                      <label for="{$value.redeLocal}">
                      <input type="checkbox" name="redeLocal[]" {if="$value.existe"}checked{/if} id="{$value.redeLocal}" value="{$value.redeLocal}" class="">
                   {$value.redeLocal}
                    </label>
                    </div>

                    {/loop}
                    {/if}                      
                  </div>

                  <h5 for="exampleInputName">Acesso à internet</h5>
                  
                  <div class="form-group col-md-12 row">
                    {if="$acessoInternet"}
                    {loop="$acessoInternet"}
                    <div class="col-md-4">
                      <label for="{$value.acessoInternet}">
                      <input type="checkbox" name="acessoInternet[]" {if="$value.existe"}checked{/if} id="{$value.acessoInternet}" value="{$value.acessoInternet}" class="">
                   {$value.acessoInternet}
                    </label>
                    </div>

                    {/loop}
                    {/if}                      
                  </div>

                  <h5 for="exampleInputName">Equipamentos que os alunos usam para acessar a internet da escola</h5>
                  
                  <div class="form-group col-md-12 row">
                    {if="$usoInternetAlunos"}
                    {loop="$usoInternetAlunos"}
                    <div class="col-md-4">
                      <label for="{$value.equipamento}">
                      <input type="checkbox" name="usoInternet[]" {if="$value.existe"}checked{/if} id="{$value.equipamento}" value="{$value.equipamento}" class="">
                   {$value.equipamento}
                    </label>
                    </div>

                    {/loop}
                    {/if}                      
                  </div>


                  <h5 for="exampleInputName">Quantidade de equipamentos para o processo ensino aprendizagem</h5>
                  
                  <div class="form-group col-md-12 row">
                    {if="$equipamentosAprendizagem"}
                    {loop="$equipamentosAprendizagem"}
                    <div class="col-md-4">
                      <label for="{$value.equipamento}">
                      <input type="checkbox" name="equipamentoAprendizagem[]" {if="$value.existe"}checked{/if} id="{$value.equipamento}" value="{$value.equipamento}" class="">
                   {$value.equipamento}
                    </label>
                    </div>

                    {/loop}
                    {/if}                      
                  </div>

                  <div class="form-group col-md-6">
                    <h5 for="">A escola possui site ou blog ou página em redes sociais para comunicação institucional</h5>
                    <select name="siteBlog" id="" class="form-control">
                      <option value="1" {if="$organizacao"}{if="$organizacao.intPossuiBlog==1"}selected{/if}{/if}>Sim</option>
                      <option value="2" {if="$organizacao"}{if="$organizacao.intPossuiBlog==2"}selected{/if}{/if}>Não</option>
                  

                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <h5 for="">A escola compartilha espaços para atividades de integração escola-comunidade</h5>

                    <select name="espacoIntegracao" id=""  class="form-control" >
                      <option value="1" {if="$organizacao"}{if="$organizacao.intCompartilhaComunidade==1"}selected{/if}{/if}>Sim</option>
                      <option value="2" {if="$organizacao"}{if="$organizacao.intCompartilhaComunidade==2"}selected{/if}{/if}>Não</option>
                      
                    </select>
                  </div>

                  <div class="form-group col-md-6">
                    <h5 for="">A escola usa espaços e equipamentos do entorno escolar para atividades regulares com os alunos</h5>

                    <select name="espacoEntorno" id=""  class="form-control" >
                      <option value="1" {if="$organizacao"}{if="$organizacao.intEspacosEntorno==1"}selected{/if}{/if}>Sim</option>
                      <option value="2" {if="$organizacao"}{if="$organizacao.intEspacosEntorno==2"}selected{/if}{/if}>Não</option>
                      
                    </select>
                  </div>

                  <div class="form-group col-md-6">
                    <h5 for="exampleInputName">O projeto político pedagógico ou a proposta pedagógica da escola (conforme art. 12 da LDB)
                      foi atualizada nos últimos 12 meses até a data de referência</h5>
 
                   <div class="form-group col-md-12 row">
                     <select name="atualizacaoLDB" class="form-control" id="">
                       <option value="1" {if="$organizacao"}{if="$organizacao.intLdbAtualizada==1"}selected{/if}{/if}>Sim</option>
                       <option value="2" {if="$organizacao"}{if="$organizacao.intLdbAtualizada==2"}selected{/if}{/if}>Não</option>
                       <option value="3" {if="$organizacao"}{if="$organizacao.intLdbAtualizada==3"}selected{/if}{/if}>
                        A escola não possui projeto político pedagógico/proposta pedagógica</option>
 
                     </select>
                       
                   
                   </div>
                  </div>

                 
              
                  <h5 for="exampleInputName">Órgãos colegiados em funcionamento na escola</h5>

                  <div class="form-group col-md-12 row">
                    {if="$orgao"}
                    {loop="$orgao"}
                    <div class="col-md-4">
                      <label for="{$value.orgao}">
                      <input type="checkbox" name="orgaosColegiados[]" {if="$value.existe"}checked{/if} id="{$value.orgao}" value="{$value.orgao}" class="">
                    {$value.orgao}
                    </label>
                    </div>

                    {/loop}
                    {/if}

                    

                   
                  </div>

                 

                
                  
                  <h5 for="exampleInputName">Informe de qual(is) forma(s) a educação ambiental é desenvolvida na escola</h5>

                  <div class="form-group col-md-12 row">

                    {if="$educacaoAmbiental"}
                    {loop="$educacaoAmbiental"}
                    <div class="col-md-6">
                      <label for="{$value.educacaoAmbiental}">
                      <input type="checkbox" name="educacaoAmbiental[]" {if="$value.existe"}checked{/if} id="{$value.educacaoAmbiental}" value="{$value.educacaoAmbiental}" class="">
                    {$value.educacaoAmbiental}
                    </label>
                    </div>

                    {/loop}
                    {/if}



                  
                  </div>


                 

                </div>
                <!-- /.card-body -->

                <div class="card-footer col-md-12 form-group">
                  <button type="submit" class="btn btn-primary ">Cadastrar</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

         

       

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
