<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Relatório de transporte escolar</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section>
    <div class="container-fluid">


      <!-- /.card-body -->
      <div class="card-body row col-sm-12 d-flex align-items-end">

        
        
        <div class="col-sm-6">
          <form action="/admin/relatorioTransporte" method="post" class="row">
            <div class="col-md-4 form-group">
              <label for="">Escola</label>
              <select name="fkEscola" id="" class="form-control">
                {loop="$escolas"}
                  <option value="{$value.idEscola}">{$value.txtNome}</option>
                {/loop}
              </select>
              
            </div>

           
            <div class="col-md-3 form-group">
              <label for=""></label>
              <input type="submit" class="form-control btn btn-info" value="GERAR RELATÓRIO">
            </div>
          </form>
      </div>

        

        <!-- ./col -->
      </div>

    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->