

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Matrícula</h1>
          </div>
        
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/matricularAluno">
                <input type="hidden" name="fkAluno" value="{$fkAluno}">
                <input type="hidden" name="fkEscola" value="{$fkEscola}">
                <input type="hidden" name="dataMatricula" value="{$dataMatricula}">
                <div class="card-body row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-5 form-group">
                        <label for="">Aluno</label>
                        <input type="text" disabled class="form-control" value="{$infoAluno.txtNome}"> 
                      </div>
                      <div class="col-3 form-group">
                        <label for="">Data de matrícula</label>
                        <input type="date" disabled class="form-control" value="{$dataMatricula}">
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="exampleInputPostagem">Ano letivo</label>
                    <select name="txtAnoLetivo" class="form-control">
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
                    </select>
                   
                  </div>

                  <div class="form-group col-md-3">
                    <label for="exampleInputPostagem">Tipo de Ensino</label>
                    <select name="txtTipoEnsino" class="form-control">
                        {loop="$tipoEnsino"}
                        <option value="{$value.intTipoEnsino}">{$value.intTipoEnsino}</option>
                        {/loop}
                        
                        

                    </select>
                  </div>

                   <div class="form-group col-md-3">
                    <label for="exampleInputPostagem">Ano/Ciclo</label>
                    {if="$turmas"}
                    <select name="fkTurma" class="form-control">
                      
                      {loop="$turmas"}
                       <option value="{$value.fkTurma}">{$value.nomeTurma}</option>
                      {/loop}
                   </select>

                    {else}
                    <select name="txtAnoCiclo" class="form-control">
                      
                       {loop="$ciclos"}
                        <option value="{$value.txtAnoCiclo}">{$value.txtAnoCiclo}</option>
                       {/loop}
                    </select>
                    {/if}
                  </div>

                  <div class="form-group col-md-3">
                    <label for="exampleInputPostagem">Turno</label>
                    <select name="txtTurno" class="form-control">
                        <option value="1">Manhã</option>
                        <option value="2">Tarde</option>
                        <option value="3">Noite</option>
                        <option value="4">Integral</option>

                    </select>
                  </div>


                  <div class="form-group col-md-4">
                    <label for="exampleInputPostagem">Situação na séria atual</label>
                    <select name="intSituacaoTurmaAtual" class="form-control">
                        <option value="1">Primeiro ingresso</option>
                        <option value="2">Repetente por aprovação</option>
                        <option value="3">Repetente por abandono</option>
                        <option value="4">Repetente apesar de aprovação</option>

                    </select>
                  </div>


                  <div class="form-group col-md-4">
                    <label for="exampleInputPostagem">Situação na série anterior</label>
                    <select name="intSituacaoAnterior" class="form-control">
                        <option value="1">Foi aprovado</option>
                        <option value="2">Foi reprovado</option>
                        <option value="3">Abandonou</option>
                        <option value="4">Não frequentou</option>
                    </select>
                  </div>


                  <div class="form-group col-md-4">
                    <label for="exampleInputPostagem">Estabelecimento de origem</label>
                    <select name="intEstabelecimentoAnterior" class="form-control">
                        <option value="1">Pŕopria escola</option>
                        <option value="2">Transferido de outra escola</option>
                        <option value="3">N/A</option>
                    </select>
                  </div>

                  <div class="form-group col-md-4">
                    <label for="exampleInputPostagem">Localização do estabelecimento de origem</label>
                    <select name="intLocalizacaoEstabelecimento" class="form-control">
                        <option value="1">Zona urbana</option>
                        <option value="2">Zona rural</option>
                        <option value="3">N/A</option>
                    </select>
                  </div>


                  <div class="form-group col-md-4">
                    <label for="exampleInputPostagem"> Tipo de ensino cursado no ano anterior</label>
                    <select name="intEnsinoAnterior" class="form-control">
                        <option value="1">Educação Infantil</option>
                        <option value="2">Ensino Fundamental</option>
                        <option value="3">Educação Especial</option>
                        <option value="4">Outro</option>
                        <option value="5">N/A</option>
                    </select>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="exampleInputPostagem"> Rede de ensino frequentado no ano anterior</label>
                    <select name="redeAnterior" class="form-control">
                        <option value="1">Municipal</option>
                        <option value="2">Estadual</option>
                        <option value="3">Federal</option>
                        <option value="4">Particular</option>
                        <option value="5">N/A</option>

                      </select>
                  </div>


                  <div class="form-group col-md-6">
                    <label for="exampleInputPostagem"> Município, UF ou país do estab. frequentado /ano anterior</label>
                    <input type="text" name="municipioAnterior" class="form-control">
                  </div>

                  <div class="form-group col-md-4">
                    <input type="submit" value="Confirmar Matrícula" class="form-control btn btn-success">
                  </div>

             
                <!-- /.card-body -->

              </form>
              
             
            </div>
            <!-- /.card -->

         

       

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
