
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Apuração de Presenças</h1>
          </div>
        
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="get" action="/admin/supervisionar/escolas/{$escola}/turma/{$turma}/professor/{$professor}">
                <div class="card-body row">
                 
                {if="$infoTurma.txtNivelEnsino == 'Ensino Fundamental II' && $disciplinas"}
                <div class="col-md-2 form-group">

                  <label for="">Disciplinas</label>
                  <select name="disciplina" class="form-control" id="">
                    {loop="$disciplinas"}
                    <option value="{$value.fkDisciplina}">{$value.txtNomeDisciplina}</option>
                    {/loop}
                  </select>
                </div>

                {/if}

                  <div class="col-md-4 form-group">
                    <label for="">Bimestres</label>
                    <select name="idBimestre" id="" class="form-control">
                    <option value="-1">Selecione</option>

                      {loop="$bimestres"}
                        <option value="{$value.idBimestre}">{$value.nomeBimestre}</option>
                      {/loop}
                    </select>
                    
                  </div>

                  <div class="col-md-4 form-group">
                    <label for="">Mês</label>
                    <select name="idMes" id="" class="form-control">
                      <option value="-1">Selecione</option>
                      
                        <option value="01">Janeiro</option>
                        <option value="02">Fevereiro</option>
                        <option value="03">Março</option>
                        <option value="04">Abril</option>
                        <option value="05">Maio</option>
                        <option value="06">Junho</option>
                        <option value="07">Julho</option>
                        <option value="08">Agosto</option>
                        <option value="09">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                        
                    
                    </select>
                    
                  </div>

                  <div class="col-2 form-group"  >
                    <label for="">Formato de impressão</label>
                    <select name="orientation" class="form-control" id="">
                      <option value="portrait">Retrato</option>
                      <option value="landscape">Paisagem</option>
                    </select>
                  </div>
  



                <!-- /.card-body -->

                <div class="card-footer col-md-12 form-group">
                  <button type="submit" class="btn btn-primary form-control">GERAR RELATÓRIO</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

         

       

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
