
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">

        
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section onload="atualiza()">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="form col-md-12">
            <h4 class="col-md-12">Informações do Cadastro</h4>
            <hr>
          </div>
          <form class="col-md-12">
            <div class="col-sm-12 row">
              <div class="form-group col-md-5">
                <label>Responsável pelo cadastro</label>
                <input type="text" class="form-control" class="desabilitados" value="{$responsavel.nomeProfissional}" readonly>
              </div>
              <div class="form-group col-md-5">
                <label>Local de Trabalho</label>
                <input type="text" class="form-control" class="desabilitados" value="{$responsavel.nomeLocal}" readonly>
              </div>
              <div class="form-group col-md-2">
                <label>Data de cadastro</label>
                <input type="text" class="form-control" class="desabilitados" value="{$responsavel.dtRegistro}" readonly>
              </div>
            </div>
          </form>


          <form class="form col-md-12" method="POST" action="/monitoramento-covid/casosMonitorados/{$caso.idMonitoramento}">
          <div class="card-body col-sm-12 row">
            
            <div class="form-group col-md-6">
              <label>Nome da Aluno*</label>
              <input type="text" name="txtAluno" class="form-control txtAluno" value="{$caso.txtAluno}" disabled>
            </div>
            <div class="col-md-3">
              
              <input type="radio" name="intTipo" disabled {if="$caso.intTipoMonitoramento ==0"}checked{/if} value="0" id="contato" onchange="atualizaDatas()">
              <label for="contato" style="margin: 0;">Contato POSITIVO/SUSPEITO</label><br>
              <input type="radio" name="intTipo" disabled {if="$caso.intTipoMonitoramento ==1"}checked{/if} value="1" id="confirmado" onchange="atualizaDatas()">
              <label for="confirmado" style="margin: 0;">Teste positivo</label><br>
              <input type="radio" name="intTipo" disabled {if="$caso.intTipoMonitoramento ==2"}checked{/if} value="2" id="suspeito" onchange="atualizaDatas()">
              <label for="suspeito" style="margin: 0;">Suspeito</label>
            </div>
            <div class="form-group col-md-2">
              <label>Data de Nascimento</label>
              <input type="date" name="txtNascimento" value="{$caso.dtDataNascimento}" id="dataNascimento" onchange="verificaIdade()" disabled class="form-control txtNascimento">
            </div>
            <div class="form-group col-md-1">
              <label>Idade</label>
              <input type="text" name="txtIdade" id="idade" class="form-control txtIdade" value="{$caso.intIdade}" disabled>
            </div>
            <div class="form-group col-md-3">
              <label>Início de Sintomas/Contato*</label>
              <input type="date" name="dtInicioMonitoramento" value="{$caso.dtDataInicio}" required disabled onclick="verificaStatus()" onchange="atualizaDatas()" id="inicioMonitoramento" class="form-control dataInicio">
            </div>
            <div class="form-group col-md-3">
              <label>Fim do Monitoramento*</label>
              <input type="date" name="dtFimMonitoramento" value="{$caso.dtDataFinal}" id="fimMonitoramento" readonly  class="form-control">
            </div>
            <div class="form-group col-md-2">
              <label>Telefone Responsável</label>
              <input type="text" name="txtTelefone" value="{$caso.txtTelefone}" disabled onkeyup="mascara('(##)#####-####',this,event,true)" maxlength="14" class="form-control txtTelefone">
            </div>
            <div class="form-group col-md-4">
              <label>Nome da Mãe</label>
              <input type="text" name="txtMae" value="{$caso.txtNomeMae}" disabled  class="form-control txtMae">
            </div>
           
            <div class="form-group col-md-5">
              <label>Escola</label>
              <select name="cbEscola" id="cbEscola" class="form-control cbEscola" disabled onchange="atualiza()">
                <option value=""></option>
                <option {if="$caso.fkEscola == 'APAE - Escola Neli Arantes dos Santos'"}selected{/if} value="APAE - Escola Neli Arantes dos Santos">APAE - Escola Neli Arantes dos Santos</option>
                <option {if="$caso.fkEscola == 'Centro de Convivência José Hilário de Oliveira'"}selected{/if} value="Centro de Convivência José Hilário de Oliveira">Centro de Convivência José Hilário de Oliveira</option>
                <option {if="$caso.fkEscola == 'CMEI Irmã Irene'"}selected{/if}  value="CMEI Irmã Irene">CMEI Irmã Irene</option>
                <option {if="$caso.fkEscola == 'Escola Estadual Coronel Lourenço Belo'"}selected{/if}  value="Escola Estadual Coronel Lourenço Belo">Escola Estadual Coronel Lourenço Belo</option>
                <option {if="$caso.fkEscola == 'Escola Estadual Modesto Antônio de Oliveira'"}selected{/if} value="Escola Estadual Modesto Antônio de Oliveira">Escola Estadual Modesto Antônio de Oliveira</option>
                <option {if="$caso.fkEscola == 'Creche Municipal Florentina Maria de Jesus'"}selected{/if} value="Creche Municipal Florentina Maria de Jesus">Creche Municipal Florentina Maria de Jesus</option>
                <option {if="$caso.fkEscola == 'Creche Municipal Professora Maria Catarina de Araújo'"}selected{/if} value="Creche Municipal Professora Maria Catarina de Araújo">Creche Municipal Professora Maria Catarina de Araújo</option>
                <option {if="$caso.fkEscola == 'Escola Municipal Antônio Modesto de Oliveira'"}selected{/if} value="Escola Municipal Antônio Modesto de Oliveira">Escola Municipal Antônio Modesto de Oliveira</option>
                <option {if="$caso.fkEscola == 'Escola Municipal Elias Teodoro'"}selected{/if} value="Escola Municipal Elias Teodoro">Escola Municipal Elias Teodoro</option>
                <option {if="$caso.fkEscola == 'Escola Municipal João Batista Trindade'"}selected{/if} value="Escola Municipal João Batista Trindade">Escola Municipal João Batista Trindade</option>
                <option {if="$caso.fkEscola == 'Escola Municipal Nossa Senhora do Perpétuo Socorro'"}selected{/if} value="Escola Municipal Nossa Senhora do Perpétuo Socorro">Escola Municipal Nossa Senhora do Perpétuo Socorro</option>
                <option {if="$caso.fkEscola == 'Escola Municipal Professor Nogueira de Sá'"}selected{/if} value="Escola Municipal Professor Nogueira de Sá">Escola Municipal Professor Nogueira de Sá</option>
              </select>
            </div>
          
            <div class="col-md-3">
            <label>Turma</label>
            <select name="cbTurma" class="form-control turmas cbTurma" disabled >
              <option value=""></option>
              <option {if="$caso.txtTurma == '1º Ano - Ensino Fundamental'"}selected{/if}  value="1º Ano - Ensino Fundamental" class="emet">1º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '2º Ano - Ensino Fundamental'"}selected{/if} value="2º Ano - Ensino Fundamental" class="emet">2º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '3º Ano - Ensino Fundamental'"}selected{/if} value="3º Ano - Ensino Fundamental" class="emet">3º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '4º Ano - Ensino Fundamental'"}selected{/if} value="4º Ano - Ensino Fundamental" class="emet">4º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '5º Ano - Ensino Fundamental'"}selected{/if} value="5º Ano - Ensino Fundamental" class="emet">5º Ano - Ensino Fundamental</option>
             
              <option {if="$caso.txtTurma == 'Maternal III'"}selected{/if} value="Maternal III" class="cmei">Maternal III</option>
              <option {if="$caso.txtTurma == '1º Período - Educação Infantil'"}selected{/if} value="1º Período - Educação Infantil" class="cmei">1º Período - Educação Infantil</option>
              <option {if="$caso.txtTurma == '2º Período - Educação Infantil'"}selected{/if} value="2º Período - Educação Infantil" class="cmei">2º Período - Educação Infantil</option>
             
              <option {if="$caso.txtTurma == '1º Período - Educação Infantil'"}selected{/if} value="1º Período - Educação Infantil" class="emmao">1º Período - Educação Infantil</option>
              <option {if="$caso.txtTurma == '2º Período - Educação Infantil'"}selected{/if} value="2º Período - Educação Infantil" class="emmao">2º Período - Educação Infantil</option>
              <option {if="$caso.txtTurma == '1º Ano - Ensino Fundamental'"}selected{/if} value="1º Ano - Ensino Fundamental" class="emmao">1º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '2º Ano - Ensino Fundamental'"}selected{/if} value="2º Ano - Ensino Fundamental" class="emmao">2º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '3º Ano - Ensino Fundamental'"}selected{/if} value="3º Ano - Ensino Fundamental" class="emmao">3º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '4º Ano - Ensino Fundamental'"}selected{/if} value="4º Ano - Ensino Fundamental" class="emmao">4º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '5º Ano - Ensino Fundamental'"}selected{/if} value="5º Ano - Ensino Fundamental" class="emmao">5º Ano - Ensino Fundamental</option>
            
              <option {if="$caso.txtTurma == '1º Período - Educação Infantil'"}selected{/if} value="1º Período - Educação Infantil" class="emjbt">1º Período - Educação Infantil</option>
              <option {if="$caso.txtTurma == '2º Período - Educação Infantil'"}selected{/if} value="2º Período - Educação Infantil" class="emjbt">2º Período - Educação Infantil</option>
              <option {if="$caso.txtTurma == '1º Ano - Ensino Fundamental'"}selected{/if} value="1º Ano - Ensino Fundamental" class="emjbt">1º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '2º Ano - Ensino Fundamental'"}selected{/if} value="2º Ano - Ensino Fundamental" class="emjbt">2º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '3º Ano - Ensino Fundamental'"}selected{/if} value="3º Ano - Ensino Fundamental" class="emjbt">3º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '4º Ano - Ensino Fundamental'"}selected{/if} value="4º Ano - Ensino Fundamental" class="emjbt">4º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '5º Ano - Ensino Fundamental'"}selected{/if} value="5º Ano - Ensino Fundamental" class="emjbt">5º Ano - Ensino Fundamental</option>
            
              <option {if="$caso.txtTurma == '1º Período - Educação Infantil'"}selected{/if} value="1º Período - Educação Infantil" class="emnsps">1º Período - Educação Infantil</option>
              <option {if="$caso.txtTurma == '2º Período - Educação Infantil'"}selected{/if} value="2º Período - Educação Infantil" class="emnsps">2º Período - Educação Infantil</option>
              <option {if="$caso.txtTurma == '1º Ano - Ensino Fundamental'"}selected{/if} value="1º Ano - Ensino Fundamental" class="emnsps">1º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '2º Ano - Ensino Fundamental'"}selected{/if} value="2º Ano - Ensino Fundamental" class="emnsps">2º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '3º Ano - Ensino Fundamental'"}selected{/if} value="3º Ano - Ensino Fundamental" class="emnsps">3º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '4º Ano - Ensino Fundamental'"}selected{/if} value="4º Ano - Ensino Fundamental" class="emnsps">4º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '5º Ano - Ensino Fundamental'"}selected{/if} value="5º Ano - Ensino Fundamental" class="emnsps">5º Ano - Ensino Fundamental</option>

              <option {if="$caso.txtTurma == '1º Período - Educação Infantil'"}selected{/if} value="1º Período - Educação Infantil" class="empns">1º Período - Educação Infantil</option>
              <option {if="$caso.txtTurma == '2º Período - Educação Infantil'"}selected{/if} value="2º Período - Educação Infantil" class="empns">2º Período - Educação Infantil</option>
              <option {if="$caso.txtTurma == '1º Ano - Ensino Fundamental'"}selected{/if} value="1º Ano - Ensino Fundamental" class="empns">1º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '2º Ano - Ensino Fundamental'"}selected{/if} value="2º Ano - Ensino Fundamental" class="empns">2º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '3º Ano - Ensino Fundamental'"}selected{/if} value="3º Ano - Ensino Fundamental" class="empns">3º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '4º Ano - Ensino Fundamental'"}selected{/if} value="4º Ano - Ensino Fundamental" class="empns">4º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '5º Ano - Ensino Fundamental'"}selected{/if} value="5º Ano - Ensino Fundamental" class="empns">5º Ano - Ensino Fundamental</option>
              
              <option {if="$caso.txtTurma == 'Berçário - Educação Infantil'"}selected{/if} value="Berçário" class="cmpmca">Berçário - Educação Infantil</option>
              <option {if="$caso.txtTurma == 'Maternal I - Educação Infantil'"}selected{/if} value="Maternal I" class="cmpmca">Maternal I - Educação Infantil</option>
              <option {if="$caso.txtTurma == 'Maternal II - Educação Infantil'"}selected{/if} value="Maternal II" class="cmpmca">Maternal II - Educação Infantil</option>
              
              <option {if="$caso.txtTurma == 'Berçário - Educação Infantil'"}selected{/if} value="Berçário" class="cmfmj">Berçário - Educação Infantil</option>
              <option {if="$caso.txtTurma == 'Maternal I - Educação Infantil'"}selected{/if} value="Maternal I" class="cmfmj">Maternal I - Educação Infantil</option>
              <option {if="$caso.txtTurma == 'Maternal II - Educação Infantil'"}selected{/if} value="Maternal II" class="cmfmj">Maternal II - Educação Infantil</option>
              <option {if="$caso.txtTurma == 'Maternal III - Educação Infantil'"}selected{/if} value="Maternal III" class="cmfmj">Maternal III - Educação Infantil</option>
              
              <option {if="$caso.txtTurma == 'Berçário - Educação Infantil'"}selected{/if} value="Berçário" class="cmjho">Berçário - Educação Infantil</option>
              <option {if="$caso.txtTurma == 'Maternal I - Educação Infantil'"}selected{/if} value="Maternal I" class="cmjho">Maternal I - Educação Infantil</option>
              <option {if="$caso.txtTurma == 'Maternal II - Educação Infantil'"}selected{/if} value="Maternal II" class="cmjho">Maternal II - Educação Infantil</option>
              <option {if="$caso.txtTurma == 'Maternal III - Educação Infantil'"}selected{/if} value="Maternal III" class="cmjho">Maternal III - Educação Infantil</option>
              
              <option {if="$caso.txtTurma == '1º Ano - Ensino Fundamental'"}selected{/if} value="1º Ano - Ensino Fundamental" class="eeclb">1º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '2º Ano - Ensino Fundamental'"}selected{/if} value="2º Ano - Ensino Fundamental" class="eeclb">2º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '3º Ano - Ensino Fundamental'"}selected{/if} value="3º Ano - Ensino Fundamental" class="eeclb">3º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '4º Ano - Ensino Fundamental'"}selected{/if} value="4º Ano - Ensino Fundamental" class="eeclb">4º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '5º Ano - Ensino Fundamental'"}selected{/if} value="5º Ano - Ensino Fundamental" class="eeclb">5º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '6º Ano - Ensino Fundamental'"}selected{/if} value="6º Ano - Ensino Fundamental" class="eeclb">6º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '7º Ano - Ensino Fundamental'"}selected{/if} value="7º Ano - Ensino Fundamental" class="eeclb">7º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '8º Ano - Ensino Fundamental'"}selected{/if} value="8º Ano - Ensino Fundamental" class="eeclb">8º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '9º Ano - Ensino Fundamental'"}selected{/if} value="9º Ano - Ensino Fundamental" class="eeclb">9º Ano - Ensino Fundamental</option>

              <option {if="$caso.txtTurma == '6º Ano - Ensino Fundamental'"}selected{/if} value="6º Ano - Ensino Fundamental" class="eemao">6º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '7º Ano - Ensino Fundamental'"}selected{/if} value="7º Ano - Ensino Fundamental" class="eemao">7º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '8º Ano - Ensino Fundamental'"}selected{/if} value="8º Ano - Ensino Fundamental" class="eemao">8º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '9º Ano - Ensino Fundamental'"}selected{/if} value="9º Ano - Ensino Fundamental" class="eemao">9º Ano - Ensino Fundamental</option>
              <option {if="$caso.txtTurma == '1º Ano - Ensino Médio'"}selected{/if} value="1º Ano - Ensino Médio" class="eemao">1º Ano - Ensino Médio</option>
              <option {if="$caso.txtTurma == '2º Ano - Ensino Médio'"}selected{/if} value="2º Ano - Ensino Médio" class="eemao">2º Ano - Ensino Médio</option>
              <option {if="$caso.txtTurma == '4º Ano - Ensino Médio'"}selected{/if} value="3º Ano - Ensino Médio" class="eemao">3º Ano - Ensino Médio</option>
              
              <option {if="$caso.txtTurma == 'Ensino Fundamental - APAE'"}selected{/if} value="Ensino Fundamental - APAE" class="apae">Ensino Fundamental - APAE</option>
              <option {if="$caso.txtTurma == 'Projeto - APAE'"}selected{/if} value="Projeto - APAE" class="apae">Projeto - APAE</option>

            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Professor(a)</label>
            <input type="text" name="txtProfessor" value="{$caso.txtProfessor}" disabled class="form-control txtProfessor">
          </div>
         
            
            <div class="form-group col-md-12 esconder">
              <input type="submit" value="Atualizar" disabled class="btn btn-success form-control">
            </div>
          
            <div class="form-group col-md-12 editar">
              <span class="btn btn-success form-control" onclick="liberaEdicao()">Editar</span>
            </div>

        
          
          </div>
          <!-- /.card-body -->
          <div class="card-footer row col-sm-12 row">
            <div class="col-md-2 form-group">
              <a href="/monitoramento-covid/casosMonitorados" class="btn btn-info form-control">Voltar</a>
            </div>
            {if="$caso.boolStatus == 1"}
            <div class="col-md-3">
              <a href="/finalizarMonitoramento/{$caso.idMonitoramento}" class="btn btn-danger">Finalizar Monitoramento</a>
            </div>
            {/if}
            {if="$caso.boolStatus == 0"}
            <div class="col-md-3">
              <a href="/reativarMonitoramento/{$caso.idMonitoramento}" class="btn btn-warning">Reativar Monitoramento</a>
            </div>
            {/if}
          </div>
        
        </form>
      
      
          <!-- ./col -->
        </div>
 
      </div>
    </section>
    <!-- /.content -->
  </div>

