 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Presenças</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section>
      <div class="container-fluid">
        
        
          <!-- /.card-body -->
          <div class="card-body row col-sm-12 d-flex align-items-end">
            <!-- <div class="busca col-sm-10">
              <form action="/admin/produtos" class="form d-flex align-items-end">
                <div class="form-group">
                  <label>Busca</label>
                  <input type="text" name="busca" class="form-control">
                </div>
                <div>
                <input type="submit" value="Buscar" class="btn btn-primary">
              </div>
              </form>
            </div> -->
            <div class="col-md-2">
                <a href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma}/professor/{$professor}/aulas" class="btn btn-success">Voltar</a> 
            </div>

            <div class="col-md-6 row">
            <div class="col-sm-12">
              
              <form action="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma}/professor/{$professor}/listaPresencas" class="row">
                <div class="col-md-4 form-group">
                  <label for="">Bimestres</label>
                  <select name="bimestres" id="" class="form-control">
                    {loop="$bimestres"}
                      <option value="{$value.idBimestre}" 
                      {if="$bimestreSelecionado == $value.idBimestre"}selected{/if}>{$value.nomeBimestre}</option>
                    {/loop}
                  </select>
                  
                </div>
            
                <div class="form-group col-4">
                  <label for=""></label>
                  <input type="submit" class="form-control btn btn-primary" value="Filtrar">
                </div>
              </form>
            </div>
          </div>


        

            {if="$presencas"}
            <div class="table-responsive">
            <table class="table mt-3">
              <thead>
                <tr>
                  {loop="$cabecalho"}
                  
                  <th scope="col">{$value}</th>
                 
                  {/loop}
                  <th>Faltas</th>
                  <th>Frequencia</th>
                </tr>
              </thead>
              <tbody>
             
                {loop="$presencas"}
                <tr>
                  {loop="$value"}
                  <td>{$value}</td>
                  {/loop}
                </tr>
                {/loop}
        
              </tbody>
            </table>
          
          </div>
          {else}
            <div class="col-12">
              <br>
              <h1>Não foram aulas cadastradas no período pesquisado!</h1>
            </div>
          {/if}
         
            
          <!-- ./col -->
        </div>
 
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->