
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Turma</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/admin/turmas/{$turma.idTurma}">
                <div class="card-body row">

                  <div class="form-group col-md-3">
                    <label for="exampleInputName">Turma</label>
                    <input type="text" class="form-control" disabled value="{$turma.txtNome}" id="exampleInputName" name="txtNome" placeholder=" Nome">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="exampleInputAnoTurma">Ano da turma</label>
                    <input type="text" class="form-control" disabled value="{$turma.txtAnoTurma}"  id="exampleInputAnoTurma" name="txtAnoTurma" placeholder="Ano">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="exampleInputAnoTurma">Escola</label>
                    <select name="fkEscola" disabled class="form-control">
                      {loop="$escolas"}
                      <option value="{$value.idEscola}" {if="$value.idEscola == $turma.fkEscola"}selected{/if}>{$value.txtNome}</option>
                      {/loop}
                    </select>
                  </div>

                  <div class="form-group col-md-3">
                    <label for="exampleInputAnoTurma">Professor</label>
                    <input type="text" class="form-control" disabled value="{$infoProfessor.txtNome}"  id="exampleInputAnoTurma" name="txtAnoTurma" placeholder="Ano">
                  </div>
                
                  
                
                </div>
                <!-- /.card-body -->

                <div class="card-footer col-md-12 row">
              
                  <div class="col-1 mt-2">
                    <a href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}" class="btn btn-success form-control">Voltar</a>
                  </div>
                 
                  
                
                  {if="$turma.txtNivelEnsino != 'Educação Infantil'"}
                  <div class="col-2 mt-2">
                    <a href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/avaliacoes" class="btn btn-info form-control">Avaliações</a>
                  </div>
                  
                  <div class="col-2 mt-2">
                    <a href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/recuperacao" class="btn btn-info form-control">Recuperação</a>
                  </div>     
                  {/if}

                  {if="$turma.txtNivelEnsino != 'Educação Infantil'"}
                  <div class="col-2 mt-2">
                    <a href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/aulas" class="btn btn-info form-control">Aulas</a>
                  </div>
                  {else}
                  {if="$turma.txtNivelEnsino == 'Educação Infantil' && $turma.boolInfantilSemanal == false"}
                  <div class="col-2 mt-2">
                    <a href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/aulas" class="btn btn-info form-control">Aulas</a>
                  </div>
                  {else}
                  <div class="col-2 mt-2">
                    <a href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/aulasInfantil" class="btn btn-info form-control">Unidades Temáticas</a>
                  </div>
                  <div class="col-2 mt-2">
                    <a href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/frequenciaInfantil" class="btn btn-info form-control">Frequência</a>
                  </div>
                  {/if}
                  {/if}

                  <div class="col-md-3 mt-2">
                    <div class="dropdown">
                      <button class="btn btn-info form-control dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-print"></i> Relatórios
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/acompanhamentoIndividual">Acompanhamento Individual</a>
                    
                        {if="$turma.txtNivelEnsino != 'Educação Infantil'"}
                        <a class="dropdown-item" href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/apuracaoPresenca" >Apuração de Frequência </a>
                        {else}
                        {if="$turma.txtNivelEnsino == 'Educação Infantil' && $turma.boolInfantilSemanal == false"}
                        <a class="dropdown-item" href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/apuracaoPresenca" >Apuração de Frequência </a>

                        {else}
                        <a class="dropdown-item" href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/apuracaoPresencaInfantil" >Apuração de Frequência </a>

                        {/if}
                        {/if}
                    
                    
                        <a class="dropdown-item" href="/admin/boletim/{$turma.idTurma}" >Boletim </a>

                    <a class="dropdown-item" href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/apuracaoAvaliacoes">Consolidado de avaliações</a>

                    <a  class="dropdown-item" href="/admin/supervisionarTurmas/escolas/{$escola}/turma/{$turma.idTurma}/professor/{$professor}/consolidadoConteudo">Consolidado de Conteúdos</a>
                    <a  class="dropdown-item" href="/admin/consolidadoAvaliacaoFinal/{$turma.idTurma}" class="btn btn-info form-control">Consolidado de notas</a>

                        <a  class="dropdown-item" href="/admin/supervisionarTurmas/escolas/{$escola}/professor/{$professor}/ficha-avaliacoes/periodo/{$turma.idTurma}">Ficha de Evolução</a>
                       
                        <a href="/admin/gerarRelatorioFundamental/{$turma.idTurma}" class="dropdown-item">Relatório de Desempenho</a>
                    
                        
                      </div>
                    </div>
                  </div>






                 

              
                </div>
              </form>
            </div>

            
            <!-- /.card -->

         

       

          </div>

        

          <div class="col-md-12">
            <div style="display: flex; justify-content: space-between;">

              <h2>Alunos</h2>

          
              <div class="col-3">
                <a href="/admin/folhaRosto/{$turma.idTurma}" class="btn btn-info form-control">Folha de rosto</a>
              </div>
             
            </div>
            <table class="table mt-3">
              <thead>
                <tr>
                  <th >Aluno</th>
                  <th scope="col">Data de Nascimento</th>
                 
                  <th>Nome da Mãe</th>
                  <th>Telefone do Responsável</th>
                  <th>Entrada</th>
                  <th>Saída</th>
                </tr>
              </thead>
              <tbody>
                {loop="$alunos"}
             
                <tr>
                  <td>{$value.txtNome}</td>
                  <td>{function="date('d/m/Y', strtotime($value.dtDataNascimento))"}</td>
                  <td>{$value.txtNomeMae}</td>
                  <td>{$value.txtTelefoneResponsavel}</td>
                  <td>{function="date('d/m/Y', strtotime($value.dataMatricula))"}</td>
                  <td>
                    {if="$value.dataSaida"}
                    {function="date('d/m/Y', strtotime($value.dataSaida))"}
                    {/if}
                  </td>
                </tr>
               
                {/loop}
               

        
              </tbody>
            </table>
          </div>
          
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

