<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>


</head>
<body>  



        <div class='boletim' style="height: 800px;">
            <div class='line' style='border: 1px solid rgb(41, 41, 41);'>
                    <table style='width: 100%;  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
                        <tr>
                            <td style='width: 20%; padding: 30px;'>
                                <img src='http://localhost/views/relatorios/selo.jpg' style='width: 100px' >
                            </td>
                            <td style='width: 60%; text-align: center;'>
                                <h3 style='margin:0; font-weight: 600; margin-bottom: 10px; font-size: 30px;'>BOLETIM ESCOLAR</h3>
                                <p style='margin: 0;'>Escola Estadual Elias Teodoro</p>
                                <p style='margin: 0;'>Rua Modeston A</p>
                                <p style='margin: 0;'>SECRETARIA DE EDUCAÇÃO DE CAPITÓLIO</p>
                            </td>
                            <td style='width: 20%; padding: 30px;'>
                                <img src='http://localhost/views/relatorios/brasao.jpg' style='width:100px' alt=''>
               
                            </td>
                        </tr>
                    </table>
                  
                   
                   
                    
               
            </div>
            <table style='width: 100%;  border-collapse: collapse; font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
                <tr>
                    <td style='padding-left: 20px; border: 1px solid #000; width: 70%; margin: 0;'> <span>Aluno(a): </span><span></span></td>
                    <td style='padding-left: 20px; border: 1px solid #000; margin: 0;'> <span>Código: </span></td>
                    <td style='padding-left: 20px; border: 1px solid #000; margin: 0;'><span>Ano: </span></td>
                </tr>
            </table>
            <table  style='width: 100%;  border-collapse: collapse; font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
                <tr>
                    <td style='padding-left: 20px; border: 1px solid #000; width: 100%; margin: 0;'> <span>Nível de Ensino: </span>
                        <span></span></td>
                </tr>
            </table>

            <table style='width: 100%;  border-collapse: collapse; font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
           
                <tr>
                    <td style='padding-left: 20px; border: 1px solid #000; margin: 0;'> <span>Turno: </span>
                        <span></span></td>

                    <td style='padding-left: 20px; border: 1px solid #000; margin: 0;'>
                        <span>Turma: </span>
                    <span></span>
                    </td>
                    <td style='padding-left: 20px; border: 1px solid #000;  margin: 0;'>
                        <span>Ano: </span>
                        <span></span>
                    </td>
                </tr>
                
            </table>
           
          

          
            <table style='width: 100%;  border-collapse: collapse; font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
                <tr style='border: 1px solid #000!important;'>
                    <th style='border: 1px solid #000; width: 35%; margin: 0;'></th>
                    <th  style='border: 1px solid #000; margin: 0; width: 80px;'>1º Bimestre</th>
                    <th  style='border: 1px solid #000; margin: 0; width: 80px;'>2º Bimestre</th>
                    <th   style='border: 1px solid #000; margin: 0; width: 80px;'>3º Bimestre</th>
                    <th  style='border: 1px solid #000; margin: 0; width: 80px;  height: 30px!important;'>4º Bimestre</th>
                    <th style='border: 1px solid #000; margin: 0; width: 80px;'> TOTAL</th>
                </tr>
                
                    <tr>
                        <td style='width: 35%; border: 1px solid #000; margin: 0; padding-left: 20px; width: 80px;;'>ARTES</td>
                        <td style='text-align: center; border: 1px solid #000; margin: 0; width: 80px;'>20</td>
                        <td style='text-align: center; border: 1px solid #000; margin: 0; width: 80px;'>20</td>
                        <td style='text-align: center; border: 1px solid #000; margin: 0; width: 80px;'>20</td>
                        <td style='text-align: center; border: 1px solid #000; margin: 0; width: 80px;'>20</td>
                        <td style='text-align: center; border: 1px solid #000; margin: 0; width: 80px;'>80</td>
                    </tr>
                
            </table>
          
            <table style='width: 100%; margin-top: 20px; border-collapse: collapse; font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
                <tr>
                    <td style='padding-left: 20px; padding-bottom: 70px; border: 1px solid #000; margin: 0; width:100%;'>
                        <span>Observações: </span>
                    </td>
                </tr>
            </table>
        


        
        
    </div>


    <div class='boletim' style="height: 800px;">
        <div class='line' style='border: 1px solid rgb(41, 41, 41);'>
                <table style='width: 100%;  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
                    <tr>
                        <td style='width: 20%; padding: 30px;'>
                            <img src='http://localhost/views/relatorios/selo.jpg' style='width: 100px' >
                        </td>
                        <td style='width: 60%; text-align: center;'>
                            <h3 style='margin:0; font-weight: 600; margin-bottom: 10px; font-size: 30px;'>BOLETIM ESCOLAR</h3>
                            <p style='margin: 0;'>Escola Estadual Elias Teodoro</p>
                            <p style='margin: 0;'>Rua Modeston A</p>
                            <p style='margin: 0;'>SECRETARIA DE EDUCAÇÃO DE CAPITÓLIO</p>
                        </td>
                        <td style='width: 20%; padding: 30px;'>
                            <img src='http://localhost/views/relatorios/brasao.jpg' style='width:100px' alt=''>
           
                        </td>
                    </tr>
                </table>
              
               
               
                
           
        </div>
        <table style='width: 100%;  border-collapse: collapse; font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
            <tr>
                <td style='padding-left: 20px; border: 1px solid #000; width: 70%; margin: 0;'> <span>Aluno(a): </span><span></span></td>
                <td style='padding-left: 20px; border: 1px solid #000; margin: 0;'> <span>Código: </span></td>
                <td style='padding-left: 20px; border: 1px solid #000; margin: 0;'><span>Ano: </span></td>
            </tr>
        </table>
        <table  style='width: 100%;  border-collapse: collapse; font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
            <tr>
                <td style='padding-left: 20px; border: 1px solid #000; width: 100%; margin: 0;'> <span>Nível de Ensino: </span>
                    <span></span></td>
            </tr>
        </table>

        <table style='width: 100%;  border-collapse: collapse; font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
       
            <tr>
                <td style='padding-left: 20px; border: 1px solid #000; margin: 0;'> <span>Turno: </span>
                    <span></span></td>

                <td style='padding-left: 20px; border: 1px solid #000; margin: 0;'>
                    <span>Turma: </span>
                <span></span>
                </td>
                <td style='padding-left: 20px; border: 1px solid #000;  margin: 0;'>
                    <span>Ano: </span>
                    <span></span>
                </td>
            </tr>
            
        </table>
       
      

      
        <table style='width: 100%;  border-collapse: collapse; font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
            <tr style='border: 1px solid #000!important;'>
                <th style='border: 1px solid #000; width: 35%; margin: 0;'></th>
                <th  style='border: 1px solid #000; margin: 0; width: 80px;'>1º Bimestre</th>
                <th  style='border: 1px solid #000; margin: 0; width: 80px;'>2º Bimestre</th>
                <th   style='border: 1px solid #000; margin: 0; width: 80px;'>3º Bimestre</th>
                <th  style='border: 1px solid #000; margin: 0; width: 80px;  height: 30px!important;'>4º Bimestre</th>
                <th style='border: 1px solid #000; margin: 0; width: 80px;'> TOTAL</th>
            </tr>
            
                <tr>
                    <td style='width: 35%; border: 1px solid #000; margin: 0; padding-left: 20px; width: 80px;;'>ARTES</td>
                    <td style='text-align: center; border: 1px solid #000; margin: 0; width: 80px;'>20</td>
                    <td style='text-align: center; border: 1px solid #000; margin: 0; width: 80px;'>20</td>
                    <td style='text-align: center; border: 1px solid #000; margin: 0; width: 80px;'>20</td>
                    <td style='text-align: center; border: 1px solid #000; margin: 0; width: 80px;'>20</td>
                    <td style='text-align: center; border: 1px solid #000; margin: 0; width: 80px;'>80</td>
                </tr>
            
        </table>
      
        <table style='width: 100%; margin-top: 20px; border-collapse: collapse; font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;'>
            <tr>
                <td style='padding-left: 20px; padding-bottom: 70px; border: 1px solid #000; margin: 0; width:100%;'>
                    <span>Observações: </span>
                </td>
            </tr>
        </table>
    


    
    
</div>
</body>
</html>