*{
 box-sizing: border-box;
}

.line{
    border: 1px solid rgb(41, 41, 41);
}
.divisor-ed{
    border-left: 1px solid rgb(41, 41, 41);
    border-right: 1px solid rgb(41, 41, 41);
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.vertical{
    transform: rotate(270deg);

    display: flex;
    align-items: center;
    height: 120px;
    justify-content: center;
}

.indices{
    border: 1px solid rgb(41, 41, 41);
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    img{
        width: 120px;
    }
    p,h3{
        text-align: center;
    }
}
.assinatura{
    p{
        text-align: center;
        margin-top: 80px;
        border-top: 1px solid #000;
    }
}
.observacoes{
    margin-top: 130px;
    height: 100px;
}