<main>
    <section class="aulas-remotas-titulo container">
        <h2>ATIVIDADES REMOTAS</h2>
        <p>Agora você tem um canal oficial com acesso a todas atividades do ensino remoto das escolas municipais em um só lugar!</p>
    </section>
    
   


    <section class="atividade container">
        <div class="row">
            <div class="col-12">
                {loop="$atividades"}
                    {if="$value.intTipo == 1"}
                        <h2><i class="fas fa-book-reader"></i> HISTÓRIA</h2>
                        <span>Nome da História: </span>{$value.txtNome}<br>
                        {$value.descricao}
                    {/if}
                    {if="$value.intTipo == 2"}
                        <h2><i class="fas fa-pencil-alt"></i> LIVRO</h2>
                        <span>Livro: </span>{$value.txtNome}<br>
                        <span>Páginas: </span>{$value.txtPagina} <br>
                        {$value.descricao}
                    {/if}
                    {if="$value.intTipo == 3"}
                        <h2><i class="fas fa-music"></i> MÚSICA</h2>
                        <span>Nome: </span>{$value.txtNome}<br>
                        {if="$value.txtLink"}<a href="{$value.txtLink}" target="blank"><span>Link de Acesso</span></a><br>{/if}
                        {$value.descricao}
                    {/if}
                    {if="$value.intTipo == 4"}
                        <h2><i class="fas fa-video"></i> VÍDEO</h2>
                        <span>Nome: </span>{$value.txtNome}<br>
                        {if="$value.txtLink"}<a href="{$value.txtLink}" target="blank"><span>Link de Acesso</span></a><br>{/if}
                        {$value.descricao}
                    {/if}
                    {if="$value.intTipo == 5"}
                        <h2><i class="fas fa-user-edit"></i> FAZER NO CADERNO</h2>
                    {/if}
                    {if="$value.intTipo == 6"}
                        <h2><i class="fas fa-file-alt"></i> ARQUIVOS</h2>
                    {/if}
                {/loop}
            </div>
        </div>
    </section>
</main>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>