<main>
    <section class="aulas-remotas-titulo container">
        <h2>ATIVIDADES REMOTAS</h2>
        <p>Agora você tem um canal oficial com acesso a todas atividades do ensino remoto das escolas municipais em um só lugar!</p>
    </section>
    
 


    <section class="turmas container">
        <div class="row">
          
            
            {loop="$turmas"}
            <div class="col-md-3">
                <a class="item" href="/atividades/{$value.idEscola}/{$value.idTurma}">
                    <img src="/res/_img/escolas/{$value.txtLogo}">
                    <div class="nome-turmas">
                        <span class="turma">{$value.nomeTurma}</span>
                        <span>{$value.nomeEscola}</span>
                    </div>
                </a>
            </div>
            {/loop}
          
           
           

        </div>
    </section>
    
</main>
<br><br><br><br><br><br><br><br><br>
