
    <main>
        <section class="aulas-remotas-titulo container">
            <h2>ATIVIDADES REMOTAS</h2>
            <p>Agora você tem um canal oficial com acesso a todas atividades do ensino remoto das escolas municipais em um só lugar!</p>
        </section>
        
       


        <section class="turmas container">
            <div class="row">
               
           
                {loop="$semana"}
                <div class="col-md-3">
                    <a class="item" href="/atividades/{$escola}/{$turma}/{$value.idSemana}">
                        <i class="fas fa-calendar-alt"></i>
                        <div class="nome-turmas">
                            <span class="turma">{$value.txtNome}</span>
                            <span>{function="date('d/m/Y', strtotime($value.dtDataInicio))"} a {function="date('d/m/Y', strtotime($value.dtDataFim))"}</span>
                        </div>
                    </a>
                </div>
                {/loop}
            </div>
        </section>
        
    </main>
    <br><br><br><br><br><br><br><br><br><br><br>