<main>
    <section class="container mais-educacao-titulo">
        <h2>BLOG</h2>
    </section> 

    <section class="container">
        <div class="postagens-pricipais">
        <a class="post-a" href="/blog/{$principais[0].idBlog}" style="background-image: url(/res/_img/blog/{$principais[0].txtImagem});">
            <div class="titulo" >
                <h3>{$principais[0].txtTitulo}</h3>
                <span><i class="fas fa-calendar-alt"></i><b>{function="date('d/m/Y', strtotime($principais[0].dtDataPostagem))"}</b></span>
            </div>
        </a>
        {if="count($principais) > 1"}
        <a class="post-b" href="/blog/{$principais[1].idBlog}" style="background-image: url(/res/_img/blog/{$principais[1].txtImagem});">
            <div class="titulo" >
                <h3>{$principais[1].txtTitulo}</h3>
                <span><i class="fas fa-calendar-alt"></i><b>{function="date('d/m/Y', strtotime($principais[1].dtDataPostagem))"}</b></span>
            </div>
    
         </a>
        {/if}
        {if="count($principais) > 2"}
        <a class="post-c" href="/blog/{$principais[2].idBlog}" style="background-image: url(/res/_img/blog/{$principais[2].txtImagem});">
            <div class="titulo" >
                <h3>{$principais[2].txtTitulo}</h3>
                <span><i class="fas fa-calendar-alt"></i><b>{function="date('d/m/Y', strtotime($principais[2].dtDataPostagem))"}</b></span>
            </div>
        </a>
        {/if}
    </div>
    </section>
   
    <section class="blog container">
    <br><br>
        <div class="row">

            {loop="$secundarios"}
            <div class="col-md-4">
                <div class="card">
                    <img src="/res/_img/blog/{$value.txtImagem}" alt="">
                    <div class="info">
                        <h6>{$value.txtTitulo}</h6>
                        <span><i class="fas fa-calendar-alt"></i><b>{function="date('d/m/Y', strtotime($value.dtDataPostagem))"}</b></span>
                        <p>{$value.txtResumo}</p>
                        <a href="/blog/{$value.idBlog}"><button>MATÉRIA COMPLETA</button></a>
                    </div>
                </div>
            </div>
            {/loop}
          
           
        
        </div>
    </section>
    <section class="paginacao">
        <a href=""><button><<</button></a>
        {loop="$pagination"}
            <a href="/blog?pagina={$value}"><button>{$value}</button></a>
        {/loop}
        <a href=""><button>>></button></a>
    </section>

    </main>
  