<section class="col-md-9">
    


    <div class="col-md-12">
        <div class="tituloSecao">
            <h4>LICITAÇÕES</h4>
        <div class="separator"></div>
        <br>
    </div>
    </div>
    <div class="row">

        <div class="licitacao col-12">
            <h5><i class="fas fa-file"></i> PREGÃO PRESENCIAL </h5>
            <hr>
            <div class="descricao row">
                <div class="col-6">
                <p>Pregão Presencial</p>
                <p>Unidade: Câmara Municipal de Capitólio</p>
                <p>Data de Abertura: 25/07/2022</p>
                <p>Horário de abertura: 10:00</p>
                <p>Reforma e ampliação da Câmara Municipal de Capitólio.</p>
                <p><b>Em andamento</b></p>
                </div>
                <div class="col-6">
                <p><b>Documentos:</b></p>
                <div class="documentos">
                <a href="/res/documentos/licitacao/01-2022/Edital - RETIFICADO_CONSOLIDADO.pdf" target="_blank">Edital</a>
                <a href="/res/documentos/licitacao/01-2022/ANEXO V - PROJETO  - RETIFICADO_CONSOLIDADO.pdf" target="_blank">Anexo V: Projeto</a>
                <a href="/res/documentos/licitacao/01-2022/ANEXO VI - MEMORIAL DESCRITIVO  - RETIFICADO_CONSOLIDADO.pdf" target="_blank">Anexo VI: Memorial Descritivo</a>
                <a href="/res/documentos/licitacao/01-2022/ANEXO II - PLANILHA ORCAMENTARIA RETIFICADA.xls" target="_blank">Anexo II: Planilha Orçamentária</a>
            </div>
            </div>
            </div>

        </div>

        
        <div class="licitacao col-12">
            <h5><i class="fas fa-file"></i> PREGÃO PRESENCIAL </h5>
            <hr>
            <div class="descricao row">
                <div class="col-6">
                <p>Pregão Presencial</p>
                <p>Unidade: Câmara Municipal de Capitólio</p>
                <p>Data de Abertura: 05/07/2022</p>
                <p>Horário de abertura: 10:00</p>
                <p>Reforma e ampliação da Câmara Municipal de Capitólio.</p>
                <p><b>Suspenso/Adiado</b></p>
                </div>
                <div class="col-6">
                <p><b>Documentos:</b></p>
                <div class="documentos">
                <a href="/res/documentos/licitacoes/edital.pdf" target="_blank">Edital</a>
                <a href="/res/documentos/licitacoes/anexoV.pdf" target="_blank">Anexo V: Projeto</a>
                <a href="/res/documentos/licitacoes/anexoVi.pdf" target="_blank">Anexo VI: Memorial Descritivo</a>
                <a href="/res/documentos/licitacoes/ANEXOII.xls" target="_blank">Anexo II: Planilha Orçamentária</a>
            </div>
            </div>
            </div>

        </div>
        

   
</div>
</section>
</div>
</section>