 <main>
        <section class="aulas-remotas-titulo container">
            <h2>AULAS REMOTAS</h2>
            <p>A participação para quem aderiu ao ensino remoto deve ter a mesma constância e participação das aulas presenciais!</p>
        </section>
        <section class="container formulario-remoto">
            <form class="row">
                <div class="col-8 col-md-10">
                    <select name="" id="">
                        <option value="">SELECIONE</option>
                    </select>
                </div>
                <div class="col-md-2 col-4">
                    <input type="submit" value="FILTRAR">
                </div>
            </form>
        </section>

        <section class="lista-remoto container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-head">
                            <img src="/res/_img/ensinoRemoto/Grupo de máscara 1.svg">
                        </div>
                        <div class="card-body">
                            <h6>1º ANO A</h6>
                            <p class="escola">Escola Municipal Elias Teodoro</p>
                            <p class="professor">Prof. Reyson Teixeira Terra</p>
                            <p class="dias-aulas">Aulas:<br/>Segunda a quarta-feira - 08:00 às 11:00</p>
                            <a href=""><button>ACESSAR</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-head">
                            <img src="/res/_img/ensinoRemoto/Grupo de máscara 1.svg">
                        </div>
                        <div class="card-body">
                            <h6>1º ANO A</h6>
                            <p class="escola">Escola Municipal Elias Teodoro</p>
                            <p class="professor">Prof. Reyson Teixeira Terra</p>
                            <p class="dias-aulas">Aulas:<br/>Segunda a quarta-feira - 08:00 às 11:00</p>
                            <a href=""><button>ACESSAR</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-head">
                            <img src="/res/_img/ensinoRemoto/Grupo de máscara 1.svg">
                        </div>
                        <div class="card-body">
                            <h6>1º ANO A</h6>
                            <p class="escola">Escola Municipal Elias Teodoro</p>
                            <p class="professor">Prof. Reyson Teixeira Terra</p>
                            <p class="dias-aulas">Aulas:<br/>Segunda a quarta-feira - 08:00 às 11:00</p>
                            <a href=""><button>ACESSAR</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-head">
                            <img src="/res/_img/ensinoRemoto/Grupo de máscara 1.svg">
                        </div>
                        <div class="card-body">
                            <h6>1º ANO A</h6>
                            <p class="escola">Escola Municipal Elias Teodoro</p>
                            <p class="professor">Prof. Reyson Teixeira Terra</p>
                            <p class="dias-aulas">Aulas:<br/>Segunda a quarta-feira - 08:00 às 11:00</p>
                            <a href=""><button>ACESSAR</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
  